@{
    ViewBag.Title = "店长服务";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}

@section script{
    <script src="~/Scripts/DateTimePicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/calendar/lib/moment.min.js"></script>
    <script src="~/Scripts/calendar/lib/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/calendar/fullcalendar.min.js"></script>
    <link href="~/Scripts/DateTimePicker/datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/calendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Scripts/calendar/fullcalendar.print.css" rel="stylesheet" media="print"/>
    <link href="~/Areas/S3/Resources/Mobile.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $("#stop").click(function () {
                $('html, body').animate({ scrollTop: 0 }, 300, false);
            });
            $("#sgoemployeegoal").click(function () {
                scrollTo("#semployeegoal");
            });
            $("#sgodepotplan").click(function () {
                scrollTo("#sdepotplan");
            });
        });

        //定位位置
        function scrollTo(elem) {
            $('html, body').animate({ scrollTop: $(elem).offset().top }, 300, false);
        }

        //设定店铺目标
        function submitDepotGoal(data) {
            Msg.show('提交成功', 0);
        }

        //设定客户经理目标
        function submitEmployeeGoal(data) {
            Msg.show('提交成功', 0);
        }
    </script>
}

@Html.Action("DepotGoal")
@Html.Action("EmployeeGoal")
@Html.Action("DepotPlan")
<div class="s3overlay">
    <i id="stop" class="icon-arrow-up icon-2x"></i>
    <hr />
    <i id="sgoemployeegoal" class="icon-tags icon-2x"></i>
    <hr />
    <i id="sgodepotplan" class="icon-calendar icon-2x"></i>
    <hr />
    <i id="ssearch" class="icon-search icon-2x"></i>
</div>