@charset "UTF-8";
body,
ul,
dl,
dd,
p,
h1,
h2,
h3,
form,
input,
textarea,
select {
    margin: 0;
    padding: 0
}
li {
    list - style: none
}
img {
    border: 0
}
body {
    font - size: 13px;
    color: #333;
    background: #eceef1;
    line - height: 1.7;
    font - family: "Helvitica Neue",
    Helvitica,
    Arial,
    sans - serif
}
a {
    text - decoration: none
}
a: hover {
    text - decoration: underline
}.clear {
    zoom: 1
}.clear: after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    overflow: hidden
}
textarea,
input {
    border: 1px solid#c4c8d0;
    outline: 0;
    padding: 12px;
    font - size: 13px
}
textarea: focus,
input: focus {
    border: 1px solid#abb0bc
}
table {
    border: 0;
    margin: 0;
    border - collapse: collapse;
    border - spacing: 0
}.wrap {
    width: 1000px;
    margin: 0 auto;
    margin - top: 110px;
    background: #fff;
    min - height: 860px;
    overflow: hidden
}.faq_content.content_step.step {
    background: url(/page/img / img_f5173a0c_all_step.png);
    background - repeat: no - repeat;
    width: 744px;
    height: 25px
}.global_head_title {
    font - size: 15px;
    height: 50px;
    line - height: 50px;
    padding - left: 50px;
    border - bottom: 1px solid#e2e5e7;
    font - weight: 700;
    background - position: 20px 13px
}.global_price {
    border: 1px solid#87888A;
    padding: 1px 3px;
    border - radius: 2px
}.global_label {
    display: inline - block;
    padding: 2px 15px;
    background - color: #eceef1;
    border - radius: 2px;
    color: #575d6a;
    cursor: pointer
}.global_label.active,
.global_label: hover {
    background - color: #0fae6f;
    color: #fff
}.global_warn {
    color: red
}.global_dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z - index: 999;
    width: 100 % ;
    height: 100 % ;
    border: 1px solid#ccc
}.global_dialog.dialog_mask {
    width: 100 % ;
    height: 100 % ;
    position: relative;
    top: 0;
    left: 0;
    background: #eceef1;
    background: rgba(236, 238, 241, .96)
}.global_dialog.dialog_inner {
    position: absolute;
    top: 50 % ;
    left: 50 % ;
    min - width: 560px;
    min - height: 185px;
    background: #fff;
    z - index: 9999
}.global_dialog.dialog_inner.dialog_title {
    position: relative
}.global_dialog.dialog_inner.dialog_title.dialog_close {
    position: absolute;
    right: 12px;
    top: 50 % ;
    color: #fff;
    font - weight: 700;
    margin - top: -10px
}.global_dialog.dialog_inner.dialog_btn {
    text - align: right
}.global_dialog.dialog_inner.dialog_btn.btn_ok {
    margin - right: 10px
}.global_dialog.dialog_inner.dialog_btn.btn_cancel {
    margin - right: 20px
}.global_address.selMain {
    position: relative;
    width: 110px;
    height: 28px;
    background: #fff
}.global_address.selMain p {
    font - size: 13px;
    line - height: 28px;
    color: #31343b;
    text - indent: 10px;
    border: 1px solid#c4c8d0
}.global_address.selMain.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 28px;
    background: url(/page/img / img_f5173eba_addr_icon.png) no - repeat 5px 11px
}.global_address dd {
    float: left;
    margin: 0 15px 15px 0
}.global_address input {
    height: 30px;
    line - height: 30px;
    padding: 0 12px
}.global_address.addrClick {
    cursor: pointer
}.global_address.fItem2 {
    width: 136px
}.global_address.fItem3 {
    width: 130px
}.global_address.fItem5 {
    margin: 0
}.global_address.fItem5 input {
    width: 489px
}.global_address.srhList {
    display: none;
    background: #fff;
    border: 1px solid#c4c8d0;
    border - top: 0;
    color: #575d6a;
    overflow - y: scroll;
    height: 200px;
    position: relative;
    z - index: 1
}.global_address.srhList li {
    line - height: 30px;
    text - align: center;
    margin: 0 1px;
    cursor: pointer
}.global_green_btn {
    border: 1px solid#0fae6f;
    text - align: center;
    background - color: #fff;
    font - size: 15px;
    color: #0fae6f;
    cursor: pointer;
    height: 40px
}.global_green_btn: hover {
    color: #fff;
    background - color: #0fae6f
}.global_green_btn.grey {
    margin - left: 8px;
    color: #abb0bc;
    border: 1px solid#abb0bc
}.global_green_btn.grey: hover {
    color: #fff;
    background - color: #abb0bc
}.global_selector {
    float: left;
    position: relative;
    width: 110px;
    height: 28px;
    background: #fff
}.global_selector.sel_main.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 28px;
    background: url(/page/img / img_f5173eba_addr_icon.png) no - repeat 5px 11px
}.global_selector.sel_head {
    font - size: 13px;
    line - height: 28px;
    color: #31343b;
    text - indent: 10px;
    border: 1px solid#c4c8d0;
    cursor: pointer
}.global_selector.sel_list {
    display: none;
    background: #fff;
    border: 1px solid#c4c8d0;
    border - top: 0;
    color: #575d6a;
    overflow - y: scroll;
    height: 200px;
    position: relative;
    z - index: 1
}.global_selector.sel_list li {
    line - height: 30px;
    text - align: center;
    margin: 0 1px;
    cursor: pointer
}.global_selector.sel_list li a {
    color: #575d6a;
    text - decoration: none;
    display: inline - block;
    width: 100 % ;
    height: 100 %
}.global_error_warn {
    display: none;
    line - height: 33px;
    color: red;
    margin - left: 10px;
    background: url(/page/img / img_f517310d_notice.png) no - repeat;
    background - position: 0 8px;
    padding - left: 20px
}.global_footer {
    width: 100 % ;
    height: 34px;
    margin - top: 40px;
    padding - top: 16px;
    background: #fff;
    opacity: .96;
    filter: alpha(opacity = 96); - webkit - filter: alpha(opacity = 96); - ms - filter: alpha(opacity = 96); - moz - filter: alpha(opacity = 96);
}.global_footer.footer_inner {
    width: 1000px;
    margin: 0 auto
}.global_footer.footer_inner.inner_copyr {
    float: left;
    background - image: url(/page/img / img_090d090c_copyright.png);
    background - repeat: no - repeat;
    padding - left: 250px;
    color: #b6bac5;
    background - position: 0 3px
}.global_footer.footer_inner.inner_follow {
    float: right;
    position: relative
}.global_footer.footer_inner.inner_follow a {
    display: block;
    background - image: url(/page/img / img_090d07f9_wechat.png);
    background - repeat: no - repeat;
    width: 28px;
    margin - right: 22px;
    float: left
}.global_footer.footer_inner.inner_follow.follow_wx {
    height: 26px;
    background - position: 0 - 39px
}.global_footer.footer_inner.inner_follow.follow_wx: hover {
    background - position: 0 2px
}.global_footer.footer_inner.inner_follow.follow_wb {
    height: 30px;
    background - position: 0 - 83px
}.global_footer.footer_inner.inner_follow.follow_wb: hover {
    background - position: 0 - 124px
}.global_footer.footer_inner.inner_follow.qr_code {
    position: absolute;
    top: -285px;
    right: 0;
    display: none
}.global_header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100 % ;
    opacity: .96;
    z - index: 999
}.global_header.header_inner {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    position: relative
}.global_header.header_inner.inner_logo {
    background - image: url(/page/img / img_20e415f3_logo.png);
    float: left;
    display: inline - block;
    background - position: 0 0;
    width: 142px;
    height: 25px;
    margin - top: 18px;
    margin - left: 4px;
    background - repeat: no - repeat
}.global_header.header_inner.fixHeader_tab {
    display: inline - block;
    font - size: 16px;
    margin - left: 30px;
    margin - top: 18px;
    cursor: default
}.global_header.header_inner.fixHeader_tab > a {
    text - decoration: none
}.global_header.header_inner.fixHeader_tab > a: visited {
    color: #575d6a
}.global_header.header_inner.fixHeader_tab.fixHeader_fixTab {
    color: #0fae6f;
    margin - right: 25px;
    padding - bottom: 18px;
    border - bottom: 2px solid#0fae6f
}.global_header.header_inner.inner_bar {
    float: right;
    height: 100 %
}.global_header.header_inner.inner_bar a {
    position: relative
}.global_header.header_inner.inner_bar > a.rephoneIcon {
    width: 20px;
    height: 24px;
    background - image: url(/page/img / img_20e41afe_rephone.png);
    display: inline - block;
    background - repeat: no - repeat;
    position: absolute;
    top: -2px;
    left: -24px
}.global_header.header_inner.inner_bar > a,
.global_header.header_inner.inner_bar.bar_user {
    cursor: pointer;
    display: inline - block;
    margin - top: 18px;
    font - size: 14px;
    color: #575d6a;
    margin - left: 20px;
    background - repeat: no - repeat;
    float: left
}.global_header.header_inner.inner_bar > a.green_font,
.global_header.header_inner.inner_bar.bar_user.green_font {
    color: #0fae6f
}.global_header.header_inner.inner_bar > a.green_font: hover,
.global_header.header_inner.inner_bar.bar_user.green_font: hover {
    color: #0fae6f
}.global_header.header_inner.inner_bar > a: hover,
.global_header.header_inner.inner_bar.bar_user: hover {
    color: #31343b;
    text - decoration: none
}.global_header.header_inner.inner_bar > a.bar_3,
.global_header.header_inner.inner_bar.bar_user.bar_3 {
    position: relative
}.global_header.header_inner.inner_bar > a.bar_3 span,
.global_header.header_inner.inner_bar.bar_user.bar_3 span {
    position: absolute;
    top: -7px;
    right: -9px;
    color: #0fae6f
}.global_header.header_inner.inner_bar.bar_home {
    padding: 0 8px;
    background - color: #0fae6f;
    color: #fff;
    border - radius: 2px
}.global_header.header_inner.inner_bar.bar_home: hover {
    color: #fff
}.global_header.header_inner.inner_bar.bar_user {
    position: relative;
    width: 24px;
    height: 54px
}.global_header.header_inner.inner_bar.bar_user img {
    width: 24px;
    height: 24px;
    border - radius: 12px
}.global_header.user_active {
    position: absolute;
    top: 42px;
    right: -38px;
    width: 100px;
    color: #575d6a;
    line - height: 1.2;
    display: none;
    box - shadow: 0 1px 2px 0 rgba(0, 0, 0, .1); - webkit - box - shadow: 0 1px 2px 0 rgba(0, 0, 0, .1); - ms - box - shadow: 0 1px 2px 0 rgba(0, 0, 0, .1); - moz - box - shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}.global_header.user_active.active_name {
    background - color: #fff;
    overflow: hidden;
    opacity: .96;
    cursor: pointer;
    padding: 8px 15px
}.global_header.user_active.active_name: hover {
    background - color: #fff;
    opacity: 1
}.global_header.user_active a {
    background - color: #fff;
    color: #575d6a;
    opacity: .96;
    padding: 8px 15px;
    display: block;
    text - decoration: none
}.global_header.user_active a: hover {
    background - color: #fff;
    opacity: 1
}.header_fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100 % ;
    z - index: 9999
}@media only screen and( - webkit - min - device - pixel - ratio: 2),
only screen and(min - device - pixel - ratio: 2) {.global_header.header_inner.inner_logo {
        background: url(/page/img / img_20e41c41_logo - fix.png) no - repeat 0 0;
        background - size: 132px 25px
    }
}.global_login_dialog.pop_image {
    background - image: url(/page/img / img_4f41e154_pop.png);
    background - repeat: no - repeat
}.global_login_dialog.wrap2 {
    padding: 30px 110px 70px
}.global_login_dialog.wrap2.logo,
.global_login_dialog.wrap2.row_text,
.global_login_dialog.wrap2.re_me,
.global_login_dialog.wrap2.foget,
.global_login_dialog.wrap2.toreg_btn,
.global_login_dialog.wrap2.supercode.code_title span {
    background - image: url(/page/img / img_4f41e154_pop.png);
    background - repeat: no - repeat
}.global_login_dialog.wrap2.sub2_btn {
    background: #25282c;
    width: 120px;
    height: 40px;
    display: block;
    font - size: 16px;
    color: #fff ! important;
    text - align: center;
    line - height: 40px
}.global_login_dialog.wrap2.logo {
    background - position: 0 - 114px;
    height: 40px
}.global_login_dialog.wrap2.supercode {
    display: none;
    text - align: center;
    padding - bottom: 30px;
    border - bottom: 1px solid#e2e5e7
}.global_login_dialog.wrap2.supercode.code_title {
    font - size: 16px;
    color: #0fae6f
}.global_login_dialog.wrap2.supercode.code_title span {
    display: inline - block;
    width: 18px;
    height: 23px;
    background - position: 0 - 366px;
    position: relative;
    top: 2px;
    left: -5px;
    margin - right: 3px
}.global_login_dialog.wrap2.main {
    color: #757e91;
    margin - top: 30px
}.global_login_dialog.wrap2.main a {
    color: #757e91;
    text - decoration: none
}.global_login_dialog.wrap2.main.main_left {
    float: left;
    width: 350px;
    padding - right: 30px;
    border - right: 1px solid#e2e5e7
}.global_login_dialog.wrap2.main.main_left.left_row {
    margin - bottom: 22px;
    position: relative
}.global_login_dialog.wrap2.main.main_left.left_row.row_text {
    background - position: 12px - 158px;
    width: 315px;
    height: 14px;
    border: 1px solid#757e91;
    padding: 12px 0 12px 35px
}.global_login_dialog.wrap2.main.main_left.left_row.row_text.password {
    background - position: 12px - 192px
}.global_login_dialog.wrap2.main.main_left.left_row.row_text.verification {
    float: left;
    width: 200px;
    background - position: 12px - 321px
}.global_login_dialog.wrap2.main.main_left.left_row.ver_login_code {
    float: left;
    margin - left: 13px;
    cursor: pointer
}.global_login_dialog.wrap2.main.main_left.left_row.ver_login_code img {
    height: 40px;
    width: 100px;
    cursor: pointer
}.global_login_dialog.wrap2.main.main_left.left_row.re_me {
    cursor: pointer;
    background - position: 2px - 234px;
    padding - left: 20px
}.global_login_dialog.wrap2.main.main_left.left_row.re_me.select {
    background - position: 2px - 264px
}.global_login_dialog.wrap2.main.main_left.left_row.re_me a {
    text - decoration: none
}.global_login_dialog.wrap2.main.main_left.left_row.foget {
    background - position: 2px - 293px;
    padding - left: 20px;
    position: absolute;
    right: 0;
    top: 0
}.global_login_dialog.wrap2.main.main_left.left_row.toreg_btn {
    background - position: 0 - 234px;
    background - color: #eceef1;
    height: 40px;
    line - height: 40px;
    padding - left: 19px;
    position: absolute;
    right: 0;
    top: 0
}.global_login_dialog.wrap2.main.main_right {
    float: left;
    margin - left: 30px
}.global_login_dialog.wrap2.main.main_right.qq {
    margin - top: 20px;
    display: block;
    background: url(/page/img / img_4f41eaa3_login_icon.png) no - repeat;
    width: 120px;
    height: 40px;
    background - position: 0 - 160px
}.global_login_dialog.wrap2.main.main_right.qq: hover {
    background - position: 0 - 200px
}.global_login_dialog.wrap2.main.main_right.weibo,
.global_login_dialog.wrap2.main.main_right.toreg {
    display: block;
    background: url(/page/img / img_4f41eaa3_login_icon.png) no - repeat;
    width: 120px;
    height: 40px;
    background - position: 0 - 80px
}.global_login_dialog.wrap2.main.main_right.weibo: hover,
.global_login_dialog.wrap2.main.main_right.toreg: hover {
    background - position: 0 - 120px
}.global_login_dialog.wrap2.main.main_right.toreg {
    margin - bottom: 20px;
    background - position: 0 0
}.global_login_dialog.wrap2.main.main_right.toreg: hover {
    background - position: 0 - 40px
}.step {
    display: block;
    background - image: url(/page/img / img_f29ace98_step.png);
    background - image: -webkit - image - set(url(/page/img / img_f29ace98_step.png) 1x, url(/page/img / img_f29ac9bc_step_x2.png) 2x);
    background - repeat: no - repeat;
    width: 779px;
    height: 25px;
    margin: 40px auto
}.global_weixin {
    padding: 50px 110px;
    border - top: 1px solid#e2e5e7;
    overflow: hidden
}.global_weixin.weixin_label {
    display: block;
    float: left;
    margin - right: 85px
}.global_weixin.weixin_label.label_1 {
    width: 255px
}.global_weixin.weixin_label.label_1.label_img {
    width: 100px;
    height: 100px
}.global_weixin.weixin_label.label_1.label_main {
    margin - top: 27px
}.global_weixin.weixin_label.label_2 {
    width: 169px;
    margin - top: 22px
}.global_weixin.weixin_label.label_2.label_img {
    background - position: 0 - 185px;
    width: 35px;
    height: 48px
}.global_weixin.weixin_label.label_2.label_main {
    margin - top: 5px
}.global_weixin.weixin_label.label_3 {
    width: 180px;
    margin - top: 25px;
    margin - right: 0
}.global_weixin.weixin_label.label_3.label_img {
    background - position: 0 - 120px;
    width: 45px;
    height: 45px
}.global_weixin.weixin_label.label_3.label_main {
    margin - top: 0
}.global_weixin.weixin_label.label_img {
    display: block;
    float: left;
    background - image: url(/page/img / img_c3aec536_weixin.png)
}.global_weixin.weixin_label.label_main {
    display: block;
    float: left;
    margin - left: 27px
}.global_weixin.weixin_label.label_main span,
.global_weixin.weixin_label.label_main a {
    color: #575d6a
}.global_weixin.weixin_label.label_main a {
    font - weight: 700
}