<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta charset="utf-8" />
    <title>@(ViewBag.Title)</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link href="~/Content/Plugin/Bootstrap/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="~/Content/Plugin/Bootstrap/bootbox.min.js"></script>
    <!--IOS Masker-->
    <link href="~/Scripts/IosOverlay/css/iosOverlay.css" rel="stylesheet" />
    <script src="~/Scripts/IosOverlay/js/spin.min.js"></script>
    <script src="~/Scripts/IosOverlay/js/iosOverlay.js"></script>
    <script src="~/Scripts/WeixinApi/WeixinApi.js"></script>
    <script src="~/Scripts/MatrixGlobal.js"></script>
    <link href="~/Areas/Matrix/Resources/Mobile.css" rel="stylesheet" />
    @RenderSection("script", false)
</head>
<body>
    <div>
        <div class="navs">
            <div>
                <img id="navBack" src="~/Areas/NPaia/Resources/images/Goods/back.png" />
            </div>
            <div>
                <img id="navHome" src="~/Areas/NPaia/Resources/images/Goods/home.png" />
            </div>
            <div>
                <img id="navPersonal" src="~/Areas/NPaia/Resources/images/Goods/personal.png" />
            </div>
            <div>
                <img id="navShoppingcart" src="~/Areas/NPaia/Resources/images/Goods/cart.png" />
            </div>
        </div>
        <div style="margin-top: 42px; overflow: hidden; width: 100%;">
            @RenderBody()
        </div>
    </div>
    <div class="footer" style="margin: 0; z-index: 99;">
        <a href="http://mp.weixin.qq.com/s?__biz=MzA5MDM3NjUxNA==&mid=200423812&idx=1&sn=668eb5a784c0ae5fcc53612687808642#rd">Powered by <span style="text-decoration: underline;">C3 Matrix 微信孵化平台</span><br />
            © 2014 华之毅 信息服务中心</a>
        <div>投诉电话:<a href="tel:4008881273"> 4008881273</a></div>
    </div>
    <script type="text/javascript">
        //var back = document.getElementById("navBack");
        //back.addEventListener('touchstart', function (event) {
        //    $("#navBack").attr("src", "/Areas/NPaia/Resources/images/Goods/back_click.png");
        //    setTimeout(1000);
        //    $("#navBack").attr("src", "/Areas/NPaia/Resources/images/Goods/back.png");
        //}, false);

        $("#navBack").click(function () {
            window.history.go(-1);
        })

        //var home = document.getElementById("navHome");
        //home.addEventListener('touchstart', function (event) {
        //    $("#navHome").attr("src", "/Areas/NPaia/Resources/images/Goods/home_click.png");
        //    setTimeout(1000);
        //    $("#navHome").attr("src", "/Areas/NPaia/Resources/images/Goods/home.png");
        //}, false);

        $("#navHome").click(function () {
            window.location.href = "/NPaia/Goods?sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
        })

        //var personal = document.getElementById("navPersonal");
        //personal.addEventListener('touchstart', function (event) {
        //    $("#navPersonal").attr("src", "/Areas/NPaia/Resources/images/Goods/personal_click.png");
        //    setTimeout(1000);
        //    $("#navPersonal").attr("src", "/Areas/NPaia/Resources/images/Goods/personal.png");
        //}, false);

        $("#navPersonal").click(function () {
            window.location.href = "/NPaia/Goods/Personal?sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
        })

        //var cart = document.getElementById("navShoppingcart");
        //cart.addEventListener('touchstart', function (event) {
        //    $("#navShoppingcart").attr("src", "/Areas/NPaia/Resources/images/Goods/cart_click.png");
        //    setTimeout("alert('')",5000);
        //    $("#navShoppingcart").attr("src", "/Areas/NPaia/Resources/images/Goods/cart.png");
        //}, false);

        $("#navShoppingcart").click(function () {
            window.location.href = "/NPaia/Goods/ShoppingCart?sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
        })
    </script>
</body>
</html>
