<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
 <!-- 配置spring的监听器加载applicationContext.xml文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param> 
 
  <filter>
		<filter-name>loginCheckFilter</filter-name>
		<filter-class>org.hy.filter.LoginCheckFilter</filter-class>
	</filter>
	
	
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ecsideExport</filter-name>
		<filter-class>org.ecside.filter.ECSideFilter</filter-class>
		<init-param>
			<param-name>useEasyDataAccess</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>useEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ecsideExport</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<jsp-config>
		<!-- ecside标签 -->
		<taglib>
			<taglib-uri>/tags/ecside</taglib-uri>
			<taglib-location>/WEB-INF/ecside.tld</taglib-location>
		</taglib>
	</jsp-config>
    
  <servlet>
     <servlet-name>ServletConfigurator</servlet-name>
     <servlet-class>
     	org.logicalcobwebs.proxool.configuration.ServletConfigurator
     </servlet-class>
     <init-param>
      <param-name>propertyFile</param-name>
      <param-value>WEB-INF/proxooldb.properties</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
   </servlet>
   
  <servlet>

		<description>proxool 监控</description>
		<display-name>proxool admin</display-name>
		<servlet-name>proxooladmin</servlet-name>
		<servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxooladmin</servlet-name>
		<url-pattern>/admin/proxool</url-pattern>
	</servlet-mapping>
  
 <listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  
  <filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>  
   		<filter-name>struts2</filter-name>  
   		<url-pattern>*.jsp</url-pattern>  
  	</filter-mapping>  
	
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/web/*</url-pattern>
	</filter-mapping>
	
	<servlet>
    	<servlet-name>ProjectInitServel</servlet-name>
    	<servlet-class>org.hy.mr.servlet.ProjectInitServel</servlet-class>
  		<load-on-startup>1</load-on-startup>
    </servlet>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
