<div class="searchbox">
    <table>
        <tr>
            <th>品类</th>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" name="外套" />
                            外套</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            衬衫</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            小衫</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            风衣</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            大衣</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            棉衣/羽绒服</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            皮衣</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            连衣裙</label></li>

                </ul>
            </td>
        </tr>
    </table>
    <div class="split"></div>
    <table>
        <tr>
            <th rowspan="4" class="title">衣身</th>
            <td class="subTitle">廓型</td>
            <td colspan="3">
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />
                            H</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            X</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            A</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            O</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">宽松风格</td>
            <td colspan="3">
                <ul class="nav width210">
                    <li>
                        <label>
                            <input type="checkbox" />
                            宽松 (B>105)</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            较宽松 (B=95~105)</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            贴体 (B<95)</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">片数</td>
            <td colspan="3">
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />
                            2开身</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            3开身</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            4开身</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            多开身</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">造型特征</td>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />
                            分割</label>
                    </li>
                    <li>
                        <div class="dropdown width93">
                            <input type="checkbox" />肩部
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            省道</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            折裥</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            抽摺</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            约克</label></li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="split"></div>
    <table>
        <tr>
            <th>领型</th>
            <td>
                <ul class="nav width110">
                    <li>
                        <label>
                            <input type="checkbox" />
                            无领</label>
                    </li>
                    <li>
                        <div class="dropdown width93">
                            <input type="checkbox" />圆领
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            驳折领</label>
                    </li>
                    <li>
                        <div class="dropdown width93">
                            <input type="checkbox" />西装领
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            连帽</label>
                    </li>
                    <li>
                        <div class="dropdown width93">
                            <input type="checkbox" />两片
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            翻折领</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            翻立领</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            坦领</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />
                            立领</label></li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="split"></div>
    <table>
        <tr>
            <th rowspan="4">衣袖</th>
            <td class="subTitle">袖型</td>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />装袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />无袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />连身袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />插肩袖</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">片数</td>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />一片</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />二处</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />多片</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">长短</td>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />无袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />短袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />五分袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />七分袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />长袖</label></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="subTitle">造型特征</td>
            <td>
                <ul class="nav width130">
                    <li>
                        <label>
                            <input type="checkbox" />直身袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />弯身袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />泡泡袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />喇叭袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />蝙蝠袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />羊腿袖</label></li>
                    <li>
                        <label>
                            <input type="checkbox" />灯笼袖</label></li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="split"></div>
    <table class="lastTable">
        <tr>
            <th>经典款</th>
            <td class="width40">系列
            </td>
            <td>
                <div class="dropdown width150">EP<input type="checkbox" />C</div>
            </td>
            <th class="left">历年畅销款</th>
            <td class="width40">年份</td>
            <td class="right">
                <div class="dropdown width150">
                    <input type="checkbox" />2012年春夏
                </div>
            </td>
            <th>排序方式</th>
            <td>
                <div class="dropdown width150">
                    <input type="checkbox" />按年份排序
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="searchBoxSelectedItem">
    <div class="right">
        @*<img src="@Url.Content("~/Images/Search.png")" />*@
        <button id="search" class="btn btn-info">搜索</button>
    </div>
    <div>
        <ul id="searchParameters" class="nav nav-pills">
            <li>特征信息：</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
