<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>

      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="WSRR_Deploy" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyBUprNV8ZsbohD3AjsMAlQe4mno+bD4rintyaY3KefjdZDthPzddvHZ3M0MR6kpdno="/>
    <add key="WSRR_ENV" value="Prod"/>
    <add key="WSRRRouteCode" value="Prod"/>
    <add key="WSRRLocalUrl" value="http://localhost:8082/WS.asmx"/>
    <add key="SSOURL" value="http://localhost:8082/WS.asmx"/>
    <add key="WS_log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxNXHPi74R0kWBQHxNnEKyOY="/>
    <add key="MDM" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNfEaiTOUs71r"/>
    <add key="GL_ERP" value="udE6xhVXCwnngVwu8lxJE0Wjyo3CXpAaNqGnxZxoGioG9579eYNKE9Nyjgez7qn++3X0rEcnwtDye7v0cOCs//1g0cJXRu/xohInii962G0="/>
    <add key="MDM_Master2" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNXR02a7/2OmdAs1TQFTPLjXccKaUcCeSJg=="/>
    <add key="MDM_Market2" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNXR02a7/2Omdt6DkoR3dNXqkzHqSw7zVnA=="/>
    <add key="HZY_Mat" value="udE6xhVXCwnngVwu8lxJE18RPcUSghsb/XoeIdYQhJD0TbIJX+ErE8rHGeXHuCOjeUqMNNHXFdUBBkkfWanZLb4X1xDfykmHswBpx5oGwdzLWfCRFptBPxx1vQYi1i1c"/>
    <add key="PLM_AS" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD3wkXfMxiO3ucUh0zIMmoBE="/>
    <add key="PLM_AS_EP" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD3wkXfMxiO3ucUh0zIMmoBE="/>
    <add key="PLM_AS_DL" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD5RDEqp2pSPC2wis8J4FQlA="/>
    <add key="WSRR" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxJzoUncJgEV0DcD9RE98l7k="/>
    <add key="WSRR_Log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxJzoUncJgEV0DcD9RE98l7k="/>
    <add key="HZY_CMT_PROD" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPWdRG6wpBiQstb1sqMdwHFijQxBaaBlrSv5G3M/3EtGByGgtc+hVOT2yjZgACmFv+8bFBLETV8A="/>
    <add key="AMSendWS.MsgCenter" value="http://192.168.0.89/MsgCenter.asmx"/>
    <add key="HZY_ExcelAppStore" value="udE6xhVXCwnngVwu8lxJE6MX2BPW1KbK81iIHbZF65ZJL8tneLJtAfDgVvV7ZLACFL1EEfHvu+3IpD5bwfkW8HN4o+E6/Mf9+HqhRG60oXI="/>
    <add key="ERP_PROD" value="udE6xhVXCwnngVwu8lxJE3ZEQX3odxu1VEgepa80J2LexXCz9mC3MEEyPBZLCByfXDc/hPnN8/JboLt5gLoYLI/EwNpXWHu/IPkwHL8KBg/ukNJsDlYRxQ=="/>
    <add key="CMT_EP" value="udE6xhVXCwnngVwu8lxJE+HvIx7mplbt1Uco/ViayJnC9YZ0wijgFvBTfcYcmV9fKlei/XISVmfa766+bM+qlCdFxEbStLiRHRZ8dn4RC7k="/>
    <add key="CUSCRM" value="udE6xhVXCwnngVwu8lxJE782bg7RCjgmzpH72KQrZkUkE6zskxGg15o9tRg2RLf3HcK+pWQkehaZz9XVOi6/4e7h1Xq2xoHWj03a3HqxOLs="/>
    <add key="CUSCRM" value="udE6xhVXCwnngVwu8lxJE782bg7RCjgmzpH72KQrZkUkE6zskxGg15o9tRg2RLf3HcK+pWQkehaZz9XVOi6/4e7h1Xq2xoHWj03a3HqxOLs="/>
    <add key="F22GP_ForSalesPlan" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkjmzSvj9PhOyRWjKK4Y5Ii6hBfcL+6mfST+jAQuSRDakgwv2I2BQnhQsFDSloYqtlkC0jVak12ew="/>
    <add key="PLM_CUSPLM" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMDzrJo+w5TOaZIPhpgC5jQ8A="/>
    <add key="F22XY_TEST_DRP_REPORT" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyCVfapyF4bPKQ2KBUAkZgDqGnvWvqth7jeOmLNCx8nllSjKCs72i6hTHxl/IfIe5AStQZk7UWDpGZiSDtjxN2yQ=="/>
    <add key="F22XY" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyCVfapyF4bPKQ2KBUAkZgDqGnvWvqth7jeOmLNCx8nllSjKCs72i6hbY2PKWhPHV+NvU7q8Hft/w="/>
    <add key="F22XY_TEST" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyCVfapyF4bPKQ2KBUAkZgDqGnvWvqth7jeOmLNCx8nllSjKCs72i6hbY2PKWhPHV+NvU7q8Hft/w="/>
    <add key="HZY_CMT" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPWdRG6wpBiQstb1sqMdwHFijQxBaaBlrSv5G3M/3EtGByGgtc+hVOT2yjZgACmFv+8bFBLETV8A="/>
    <add key="VexSSO" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxCNwMFALXQim599q0tejW8M="/>
    <add key="ERPASS" value="udE6xhVXCwnngVwu8lxJE3ZEQX3odxu1VEgepa80J2LexXCz9mC3MEEyPBZLCByfXDc/hPnN8/JboLt5gLoYLI/EwNpXWHu/gn6AHafH0xMiTnaReO8Zlw=="/>
    <add key="NPaia" value="udE6xhVXCwnngVwu8lxJE0Wjyo3CXpAaNqGnxZxoGiriddux5eoEBfb9KEj1LsERwPpGsc2eLozbao+WPbGSa071PEp3k1EE9a5c6oRhK4CfzgkWKGzm6w=="/>
    <add key="Hawk" value="udE6xhVXCwnngVwu8lxJE0Wjyo3CXpAaNqGnxZxoGiqkSpPXlQs7AjmL4UsFp5QEcSTBIChMoXdHOKt0LvxQ1fIm1uI8LEj2jH3CbkVHy8Y="/>
    <add key="API_Package" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPkwi6FZHQA26XEHPdOnVS2IzLRQQI59ngMEQSr+aitOVu7xNZhW6GD06A48qYCGuTyp7nKbsdtTMfqF7V+zBRA=="/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">

      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime executionTimeout="300000"  requestValidationMode="2.0" />-->
    <httpRuntime  requestValidationMode="2.0" maxRequestLength="2147482624" executionTimeout="300000"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>