@{
    ViewBag.Title = "恩派雅-集红包送美衣";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section script{
    <script type="text/javascript" src="~/Scripts/jweixin-1.0.0.js"></script>
    <style>
        .shareTip {
            position:fixed;
            width:100%;
            height:100%;
            left:0px;
            top:0px;
            opacity:0.6;
            background:#000 url(/Scripts/WeixinApi/jt.png) top right no-repeat;
            background-size:100px;
            font-size:16px;
            color:#fff;
            padding-top:60px;
            text-align:right;
        }
        .shareTipTxt {
            padding-right:20px;
            text-align:center;
            width:140px;
            float:right;
            opacity:1;
            font-weight:bold;
            line-height:140%;
        }
    </style>
    <script type="text/javascript">
        var appId, ticket, timestamp, nonceStr, signature;

        $(function () {
            //获取appid
            $.post("/Game/NpaiaWomen/GetAppId?sid=" + Url.get("sid") + "&oid=" + Url.get("oid"), function (rst) {
                if (rst.result == 0) {
                    appId = rst.msg;
                    //获取ticket
                    $.post("/Game/NpaiaWomen/GetTicket?sid=" + Url.get("sid") + "&oid=" + Url.get("oid"), function (rst) {
                        if (rst.result == 0) {
                            ticket = rst.msg;
                            timestamp = parseInt(new Date().getTime() / 1000) + '';
                            nonceStr = Math.random().toString(36).substr(2, 15);

                            //获取signature
                            $.post("/Game/NpaiaWomen/GetSignature?sid=" + Url.get("sid") + "&oid=" + Url.get("oid") + "&ticket=" + ticket + "&nonceStr=" + nonceStr + "&timestamp=" + timestamp + "&url=" + window.location.href.replace(/&/g, '%26'), function (rst) {
                                if (rst.result == 0) {
                                    signature = rst.msg;
                                    wx.config({
                                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                                        appId: appId, // 必填，公众号的唯一标识
                                        timestamp: timestamp, // 必填，生成签名的时间戳
                                        nonceStr: nonceStr, // 必填，生成签名的随机串
                                        signature: signature,// 必填，签名，见附录1
                                        jsApiList: [
                                            'onMenuShareTimeline',
                                            'onMenuShareAppMessage'
                                        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                                    });
                                } else {
                                    alert("signature获取失败！")
                                }
                            });
                        } else {
                            alert("ticket获取失败！")
                        }
                    });
                } else {
                    alert("appId获取失败！")
                }
            });
        });

        wx.ready(function () {
            var imgUrl;
            if (Url.get("id") == 1) {
                imgUrl = 'http://it.hwafashion.com/Areas/Game/Resources/images/NpaiaWomen/cloth1again.png';
            } else if (Url.get("id") == 2) {
                imgUrl = 'http://it.hwafashion.com/Areas/Game/Resources/images/NpaiaWomen/cloth2again.png';
            } else if (Url.get("id") == 3) {
                imgUrl = 'http://it.hwafashion.com/Areas/Game/Resources/images/NpaiaWomen/cloth3again.png';
            } else if (Url.get("id") == 4) {
                imgUrl = 'http://it.hwafashion.com/Areas/Game/Resources/images/NpaiaWomen/cloth4again.png';
            }

            var url = "http://it.hwafashion.com/Game/NpaiaWomen/GameInfo?level=" + Url.get("id") + "&lid=" + Url.get("oid") + "&sid=" + Url.get("sid"); // 分享链接

            wx.onMenuShareTimeline({
                title: '恩派雅-送美衣', // 分享标题
                link: url,// 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    window.location.href = "/Game/NpaiaWomen/GameInfo?level=" + Url.get("id") + "&lid=" + Url.get("oid") + "&sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: '恩派雅-送美衣', // 分享标题
                desc: '快来帮小伙伴赢取开年幸运美衣吧！', // 分享描述
                link: url, // 分享链接
                imgUrl: imgUrl, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    window.location.href = "/Game/NpaiaWomen/GameInfo?level=" + Url.get("id") + "&lid=" + Url.get("oid") + "&sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });

        wx.error(function (res) {
            //alert(res);
        });
    </script>
}
<div style="position:relative;">
    @if (ViewBag.ID == 1)
    {
        <img class="bg" src="~/Areas/Game/Resources/images/NpaiaWomen/info1again.jpg" style="width:100%;"/>
        <img class="btn1" src="~/Areas/Game/Resources/images/NpaiaWomen/btnagain.png" style="width:45%;position:absolute;left:48%;top:69%;"/>
    }
    else if (ViewBag.ID == 2)
    {
        <img class="bg" src="~/Areas/Game/Resources/images/NpaiaWomen/info2again.jpg" style="width:100%;"/>
        <img class="btn2" src="~/Areas/Game/Resources/images/NpaiaWomen/btnagain.png" style="width:45%;position:absolute;left:48%;top:69%;"/>
    }
    else if (ViewBag.ID == 3)
    {
        <img class="bg" src="~/Areas/Game/Resources/images/NpaiaWomen/info3again.jpg" style="width:100%;"/>
        <img class="btn3" src="~/Areas/Game/Resources/images/NpaiaWomen/btnagain.png" style="width:45%;position:absolute;left:8%;top:69%;"/>
    }
    else
    {
        <img class="bg" src="~/Areas/Game/Resources/images/NpaiaWomen/info4again.jpg" style="width:100%;"/>
        <img class="btn4" src="~/Areas/Game/Resources/images/NpaiaWomen/btnagain.png" style="width:45%;position:absolute;left:8%;top:69%;"/>
    }
</div>
<script type="text/javascript">
    $(".btn1").click(function () {
        share();
    })

    $(".btn2").click(function () {
        share();
    })

    $(".btn3").click(function () {
        share();
    })

    $(".btn4").click(function () {
        share();
    })

    function share(level, imgUrl) {
        var txt = "点击右上角菜单<br />分享到朋友圈<br />或发送给朋友";
        var ele = document.createElement("div");//创建一个P标签
        ele.innerHTML = '<div id="cc_share" onclick="document.getElementById(\'cc_share\').parentNode.removeChild(document.getElementById(\'cc_share\'));" class="shareTip"><div class="shareTipTxt">' + txt + '</div></div>';
        document.body.appendChild(ele);
    }
</script>