USE [master]
GO
/****** Object:  Database [EPManageWeb.Entities.EPDataContext]    Script Date: 10/19/2014 09:46:51 ******/
CREATE DATABASE [EPManageWeb.Entities.EPDataContext] 
USE [EPManageWeb.Entities.EPDataContext]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RealName] [nvarchar](max) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UserType] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [UserName], [Password], [RealName], [CreateDT], [ModifiedDT], [IsDeleted], [UserType], [Department]) VALUES (1, N'admin', N'111', N'管理员', CAST(0x0000A1FB009E32F8 AS DateTime), CAST(0x0000A1FB00FD848F AS DateTime), 0, N'Admin', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [RealName], [CreateDT], [ModifiedDT], [IsDeleted], [UserType], [Department]) VALUES (2, N'admin1', N'111', N'管理员1', CAST(0x0000A1FB009E32F8 AS DateTime), CAST(0x0000A1FF01153968 AS DateTime), 0, N'Admin', NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [RealName], [CreateDT], [ModifiedDT], [IsDeleted], [UserType], [Department]) VALUES (3, N'admin2', N'111', N'管理员2', CAST(0x0000A1FB009E32F8 AS DateTime), CAST(0x0000A1FB00FD848F AS DateTime), 0, N'Admin', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UploadFiles]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Path] [nvarchar](100) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Clothes_Id] [int] NULL,
 CONSTRAINT [PK_dbo.UploadFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Clothes_Id] ON [dbo].[UploadFiles] 
(
	[Clothes_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](10) NULL,
	[Value] [nvarchar](20) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tags] ON
INSERT [dbo].[Tags] ([Id], [Type], [Value], [CreateDT], [ModifiedDT], [IsDeleted], [Order]) VALUES (1, N'classic', N'EPC', CAST(0x0000A21C00F406C3 AS DateTime), CAST(0x0000A21C00F406C3 AS DateTime), 0, 0)
INSERT [dbo].[Tags] ([Id], [Type], [Value], [CreateDT], [ModifiedDT], [IsDeleted], [Order]) VALUES (2, N'classic', N'EPO', CAST(0x0000A21C00F4136C AS DateTime), CAST(0x0000A21C00F4136C AS DateTime), 0, 0)
INSERT [dbo].[Tags] ([Id], [Type], [Value], [CreateDT], [ModifiedDT], [IsDeleted], [Order]) VALUES (3, N'classic', N'EPP', CAST(0x0000A21C00F41E3D AS DateTime), CAST(0x0000A21C00F41E3D AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Tags] OFF
/****** Object:  Table [dbo].[SessionUsers]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionUsers](
	[Id] [uniqueidentifier] NOT NULL,
	[SessionId] [nvarchar](50) NULL,
	[UserId] [int] NOT NULL,
	[LastActivityDT] [datetime] NOT NULL,
	[LoginDT] [datetime] NOT NULL,
	[RemoteIP] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SessionUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[SessionUsers] 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[SessionUsers] ([Id], [SessionId], [UserId], [LastActivityDT], [LoginDT], [RemoteIP], [Status], [CreateDT], [ModifiedDT], [IsDeleted]) VALUES (N'647dbb0e-50ff-4fcc-a376-003d14826ca8', NULL, 1, CAST(0x0000A2000030881F AS DateTime), CAST(0x0000A2000021AE1E AS DateTime), N'127.0.0.1', N'Active', CAST(0x0000A2000021AE1E AS DateTime), CAST(0x0000A2000030881F AS DateTime), 0)
INSERT [dbo].[SessionUsers] ([Id], [SessionId], [UserId], [LastActivityDT], [LoginDT], [RemoteIP], [Status], [CreateDT], [ModifiedDT], [IsDeleted]) VALUES (N'7eb5379b-0871-46b1-8fec-016e8a76b320', NULL, 1, CAST(0x0000A1FE00DF6731 AS DateTime), CAST(0x0000A1FE00CAE996 AS DateTime), N'127.0.0.1', N'Active', CAST(0x0000A1FE00CAE996 AS DateTime), CAST(0x0000A1FE00DF6731 AS DateTime), 0)
INSERT [dbo].[SessionUsers] ([Id], [SessionId], [UserId], [LastActivityDT], [LoginDT], [RemoteIP], [Status], [CreateDT], [ModifiedDT], [IsDeleted]) VALUES (N'44da14a8-458d-4c6f-a627-0a95fc2efad8', NULL, 1, CAST(0x0000A2000001A4F4 AS DateTime), CAST(0x0000A2000000E4E2 AS DateTime), N'127.0.0.1', N'LogoutManual', CAST(0x0000A2000000E4E2 AS DateTime), CAST(0x0000A2000001A4F4 AS DateTime), 0)
/****** Object:  Table [dbo].[OperationLogs]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OperationType] [nvarchar](max) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[User_Id] [int] NULL,
	[Clothes_Id] [int] NULL,
 CONSTRAINT [PK_dbo.OperationLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Clothes_Id] ON [dbo].[OperationLogs] 
(
	[Clothes_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[OperationLogs] 
(
	[User_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OperationLogs] ON
INSERT [dbo].[OperationLogs] ([Id], [OperationType], [CreateDT], [ModifiedDT], [IsDeleted], [User_Id], [Clothes_Id]) VALUES (1, N'AddClothes', CAST(0x0000A1FE00FFFCB8 AS DateTime), CAST(0x0000A1FE00FFFCB8 AS DateTime), 0, 1, 1)
INSERT [dbo].[OperationLogs] ([Id], [OperationType], [CreateDT], [ModifiedDT], [IsDeleted], [User_Id], [Clothes_Id]) VALUES (2, N'AddClothes', CAST(0x0000A1FE01054C27 AS DateTime), CAST(0x0000A1FE01054C27 AS DateTime), 0, 1, 2)
INSERT [dbo].[OperationLogs] ([Id], [OperationType], [CreateDT], [ModifiedDT], [IsDeleted], [User_Id], [Clothes_Id]) VALUES (3, N'ViewClothes', CAST(0x0000A1FE010553D9 AS DateTime), CAST(0x0000A1FE010553D9 AS DateTime), 0, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[OperationLogs] OFF
/****** Object:  Table [dbo].[ClothesTypes]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothesTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Parent_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ClothesTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[ClothesTypes] 
(
	[Parent_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClothesTypes] ON
INSERT [dbo].[ClothesTypes] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id]) VALUES (1, N'上装', CAST(0x0000A1F5009F0606 AS DateTime), CAST(0x0000A1F5009F0606 AS DateTime), 0, NULL)
INSERT [dbo].[ClothesTypes] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id]) VALUES (2, N'下装', CAST(0x0000A1F5009F064B AS DateTime), CAST(0x0000A1F5009F064B AS DateTime), 0, NULL)
INSERT [dbo].[ClothesTypes] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id]) VALUES (3, N'裙子', CAST(0x0000A1F5009F064B AS DateTime), CAST(0x0000A1F5009F064B AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[ClothesTypes] OFF
/****** Object:  Table [dbo].[ClothesPartTypes]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothesPartTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Order] [int] NOT NULL,
	[ClothesPart_Id] [int] NULL,
	[Parent_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ClothesPartTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ClothesPart_Id] ON [dbo].[ClothesPartTypes] 
(
	[ClothesPart_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[ClothesPartTypes] 
(
	[Parent_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClothesPartTypes] ON
INSERT [dbo].[ClothesPartTypes] ([Id], [Name], [Order], [ClothesPart_Id], [Parent_Id]) VALUES (1, N'外套', 2, 1, NULL)
INSERT [dbo].[ClothesPartTypes] ([Id], [Name], [Order], [ClothesPart_Id], [Parent_Id]) VALUES (3, N'小衫', 5, 1, NULL)
INSERT [dbo].[ClothesPartTypes] ([Id], [Name], [Order], [ClothesPart_Id], [Parent_Id]) VALUES (4, N'风衣', 4, 1, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[ClothesPartTypes] OFF
/****** Object:  Table [dbo].[ClothesParts]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothesParts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Parent_Id] [int] NULL,
	[ClothType_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ClothesParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ClothType_Id] ON [dbo].[ClothesParts] 
(
	[ClothType_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Parent_Id] ON [dbo].[ClothesParts] 
(
	[Parent_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClothesParts] ON
INSERT [dbo].[ClothesParts] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id], [ClothType_Id]) VALUES (1, N'品类', CAST(0x0000A1F5009F0606 AS DateTime), CAST(0x0000A1F5009F0606 AS DateTime), 0, NULL, 1)
INSERT [dbo].[ClothesParts] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id], [ClothType_Id]) VALUES (2, N'衣身', CAST(0x0000A1F5009F0606 AS DateTime), CAST(0x0000A1F5009F0606 AS DateTime), 0, NULL, 1)
INSERT [dbo].[ClothesParts] ([Id], [Name], [CreateDT], [ModifiedDT], [IsDeleted], [Parent_Id], [ClothType_Id]) VALUES (3, N'廓形', CAST(0x0000A1F5009F0606 AS DateTime), CAST(0x0000A1F5009F0606 AS DateTime), 0, 2, NULL)
SET IDENTITY_INSERT [dbo].[ClothesParts] OFF
/****** Object:  Table [dbo].[Clothes]    Script Date: 10/19/2014 09:46:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clothes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SampleNO] [nvarchar](50) NULL,
	[ProductNO] [nvarchar](50) NULL,
	[ProductedCount] [int] NOT NULL,
	[SaledCount] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[AssessoriesFile] [nvarchar](100) NULL,
	[ClothesPics] [nvarchar](500) NULL,
	[ModelVersionPics] [nvarchar](500) NULL,
	[SampleFile] [nvarchar](100) NULL,
	[StylePics] [nvarchar](500) NULL,
	[TechnologyFile] [nvarchar](100) NULL,
	[ClothesSize] [nvarchar](1000) NULL,
	[Tags] [nvarchar](1000) NULL,
	[ViewCount] [int] NOT NULL,
	[ClothesType_Id] [int] NULL,
	[PingLei] [nvarchar](max) NULL,
	[CreateDT] [datetime] NOT NULL,
	[ModifiedDT] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Owner_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Clothes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ClothesType_Id] ON [dbo].[Clothes] 
(
	[ClothesType_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Owner_Id] ON [dbo].[Clothes] 
(
	[Owner_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clothes] ON
SET IDENTITY_INSERT [dbo].[Clothes] OFF
/****** Object:  Default [DF__Tags__Order__117F9D94]    Script Date: 10/19/2014 09:46:53 ******/
ALTER TABLE [dbo].[Tags] ADD  DEFAULT ((0)) FOR [Order]
GO
/****** Object:  Default [DF__Clothes__CreateD__0CBAE877]    Script Date: 10/19/2014 09:46:53 ******/
ALTER TABLE [dbo].[Clothes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDT]
GO
/****** Object:  Default [DF__Clothes__Modifie__0DAF0CB0]    Script Date: 10/19/2014 09:46:53 ******/
ALTER TABLE [dbo].[Clothes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDT]
GO
/****** Object:  Default [DF__Clothes__IsDelet__0EA330E9]    Script Date: 10/19/2014 09:46:53 ******/
ALTER TABLE [dbo].[Clothes] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
