<div class="ht" id="scontacts">
    <i class="glyphicon icon-user"></i>&nbsp;&nbsp;我的人脉存折
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge pull-left ys">C</span>
        <span>&nbsp;欧阳雪梅&nbsp;[2014-07-02]</span>
        <div class="cexp clearfix">
            <span><a href="#"><i class="icon-phone"></i></a></span>
            <span><a href="#"><i class="icon-envelope-alt"></i></a></span>
            <span class="cus" onclick="showCustomerDetail(this,'cd1');"><i class="cus icon-double-angle-down"></i></span>
        </div>
        <div id="cd1" class="cusHideCdArea" style="display:none;"></div>
    </li>
    <li class="list-group-item">
        <span class="badge pull-left ys">B</span>
        <span>&nbsp;郭颖&nbsp;[2014-07-02]</span>
        <div class="cexp clearfix">
            <span><a href="#"><i class="icon-phone"></i></a></span>
            <span><a href="#"><i class="icon-envelope-alt"></i></a></span>
            <span class="cus" onclick="showCustomerDetail(this,'cd2');"><i class="cus icon-double-angle-down"></i></span>
        </div>
        <div id="cd2" class="cusHideCdArea" style="display:none;"></div>
    </li>
</ul>