<div class="ht" id="semployeegoal">
    <i class="glyphicon icon-tags"></i>&nbsp;&nbsp;年度目标
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div>
<div class="dataDetail">
    <h4 style="border-bottom:0px;"><span>&nbsp;&nbsp;店铺目标</span></h4>
    <ul class="list-group">
        <li class="list-group-item">
            <span>忠诚度客户目标</span>
            <span class="badge pull-right ys">43%</span>
        </li>
        <li class="list-group-item">
            <span>新客户招募目标</span>
            <span class="badge pull-right ys">1287</span>
        </li>
        <li class="list-group-item">
            <span>新客户三个月内二次回头率目标</span>
            <span class="badge pull-right ys">28%</span>
        </li>
    </ul>
    <br />
    <h4 style="border-bottom:0px;"><span>&nbsp;&nbsp;个人目标</span></h4>
    <ul class="list-group">
        <li class="list-group-item">
            <div>
                <span>C级客户</span>
                <span class="badge pull-right ls">73%</span>
                <span class="pull-right">&nbsp;</span>
                <span class="badge pull-right ys">53%</span>
            </div>
            <br />
            <div>陌生/新顾客（第一次接触）</div>
        </li>
        <li class="list-group-item">
            <div>
                <span>B级客户</span>
                <span class="badge pull-right ls">19%</span>
                <span class="pull-right">&nbsp;</span>
                <span class="badge pull-right ys">31%</span>
            </div>
            <br />
            <div>定期来店消费（每年消费2-4次）</div>
        </li>
        <li class="list-group-item">
            <div>
                <span>A级客户</span>
                <span class="badge pull-right ls">8%</span>
                <span class="pull-right">&nbsp;</span>
                <span class="badge pull-right ys">16%</span>
            </div>
            <br />
            <div>忠诚客户（每年消费5次或5万以上）</div>
        </li>
    </ul>
</div>