@{
    ViewBag.Title = "附件明细";
    Layout = "~/Views/Shared/_HRWeiXinLayout.cshtml";
}
@section script{
    <link href="~/Areas/HR/Resources/css/HR.css?v3" rel="stylesheet" />
}


<div >
    <img src="@ViewBag.imagepath" style="margin-top:30px;width:200%" />
</div>
