<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!--测试-->
    <add key="WSRR" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkpAXxy6AbqJFMV5OomihPSM="/>
    <add key="WSRR_Log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkpAXxy6AbqJFMV5OomihPSM="/>
    <add key="WSRRRouteCode" value="Mgr"/>

    <add key="WSRRLocalUrl" value="http://127.0.0.1:8082/WS.asmx"/>
    
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime executionTimeout="300000"  requestValidationMode="2.0" />-->
    <httpRuntime executionTimeout="300000"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>