body,table,p,div {
	font:normal 12px arial;
	font-family: Arial, Helvetica, sans-serif,ו;
}
body {margin:5px 0 0 0;padding:0;}
p {
	margin:0px;
	font-family: "ו";
}
h1 {
	font:bold 17px verdana;
	margin-bottom:10px;
	color: #224488;
}
hr { color: #666666; height:1px; text-align:left}
a:link {color: #224488; text-decoration: underline}
a:visited {	color: #224488; text-decoration: underline}
a:active { color: #224488; text-decoration: underline}
a:hover { color: #0000cc; text-decoration: none}
#LocalToolbar {
	vertical-align:baseline; padding:0px; background-color:#305081;margin:0 0 24px 0; 
}

.SectionMenu {
   font:normal 11px verdana; padding:0 2px 0 2px;
}

A.SectionMenu:link, A.SectionMenu:visited, A.SectionMenu:active   {
    text-decoration:    underline;
    color:white;
}

A.SectionMenu:hover, A.SectionMenu:hover  {
    text-decoration:    underline;
    color:yellow;
}
#footer { clear: both;	padding: 1em;	text-align: center;	border-top:solid 2px #ECECF6; width:750; }	

#leftcolumn
{
	width: 150px;
	padding-left:0px;
}
#leftcolumn ul {padding:0 0 3px 10px; list-style-position: outside; margin: 0; margin-bottom: 5px; list-style: none;}
#leftcolumn li {padding-top: 1px;padding-bottom: 1px;padding-left: 2px; }
#leftcolumn li a{color:#333333;text-decoration: none; }
#leftcolumn li a:hover{color:navy;text-decoration: underline; }
.leftcolumntitle {padding:0 0 3px 10px;color:#224488;}

/*----Example CSS Class --*/ 
img.greyborder {
	border: 1px solid #c0c0c0;
}
td.module {
	background-color: #efefef;
}
td.content {
	color: black; 
	font-family: tahoma, arial, helvetica; 
	font-weight: bold; 
}
.subtabbg {
	background-color: #efefef;
}
.redcolor{
	color:red;
}
.boldgreen
{
	color: green; font-weight: bold;
}
.highlight
{
	background-color: yellow;
}
/*----End of Example CSS Class --*/ 
