@{
    ViewBag.Title = "礼券使用说明及约束条款页面";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}

@section script{
    <link rel="stylesheet" href="~/Areas/Game/Resources/css/GLTicket.css?v4" />
}
<div class="mainArea">

    <div style="text-align: center">
        <img src="~/Areas/Game/Resources/images/GLTicket/GLloge.png" style="width: 200px;">
    </div>
    <br />
    <h4>
        <span>粉丝专属88元礼券
        </span>
        <br />
        <br />
        <span>活动条款
         <br />
        </span>
    </h4>
    <div style="text-align: left">
    1.	活动推广期为2015年4月3日-4月6日。此优惠仅适于graceland嘉兴雅斓名店及graceland江阴雅斓名店。<br />
    <br />
    2.	活动期间，关注雅斓名店官方微信平台，即可获得88元粉丝购物礼券，尊享于雅斓名店购物时减免人民币88元的优惠，使用有效期截至2015年4月30日。<br />
    <br />
    3.  上述88元减免优惠不适用于购买雅斓名店家饰品。<br />
    <br />
    4.	每位关注雅斓名店官方微信账号的粉丝仅可获得一张人民币88元减免礼券。<br />
    <br />
    5.	本次减免优惠不能以兑换、退货或退款等形式换取现金，亦不可与其他优惠同时使用。<br />
    <br />
    6.	在法律允许范围内，本公司保留对本次礼券的最终解释权。<br />
    <br />
   </div>
</div>






