@{
    ViewBag.Title = "消防知识谁最强";
    Layout = "~/Areas/Game/Views/Shared/_Layout.cshtml";
}

@section script{
    <script src="~/Scripts/IosSlider/jquery.iosslider.min.js"></script>
    <script src="/Areas/Game/Resources/js/goFireGamePage.js"></script>
    <link href="~/Areas/Game/Resources/css/fire.css?v3" rel="stylesheet" />
   
     <script type="text/javascript">
         // 需要分享的内容，请放到ready里
         WeixinApi.ready(function (Api) {
             // 微信分享的数据
             var wxData = {
                 "appId": "", // 服务号可以填写appId
                 "imgUrl": 'http://it.hwafashion.com:8088/Areas/Game/Resources/images/fire/sharehead.png',
                 "link": 'http://why.elegant-prosper.com/?weixin_redirect=http%3a%2f%2fit.hwafashion.com%3a8088%2fGame%2fFireKnowledge%3foid%3d%5bopenid%5d',
                 "title": "消防活动页面",
                 "desc": "多一点消防知识，就多一分生命保障，快来试试吧！"
             };
             // 分享的回调
             var wxCallbacks = {
             };
             // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
             Api.shareToFriend(wxData, wxCallbacks);
             // 点击分享到朋友圈，会执行下面这个代码
             Api.shareToTimeline(wxData, wxCallbacks);
         });
    </script>
}

<div id="main" style="width: 100%; position: absolute">
    <img style="width: 100%;" src="/Areas/Game/Resources/images/fire/gamesetting.png" alt="bg" />
    <div id="infomation" style="position: absolute; left: 58%">
        <img style="width: 110px;" src="/Areas/Game/Resources/images/fire/time.png" alt="Time" />
        <div class="djs">
            <div class="dumiao">
                <span id="dtimer"></span>
            </div>
        </div>
        <div id="result"></div>
        <div id="count" style="width: 120px;">
        </div>
    </div>

    <div id="question" class="question">
        <div class="qtitle">
        </div>
    </div>

</div>

