@{
    ViewBag.Title = "BrandStoryList";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";
}

@section script{
    <link href="~/Areas/NPaia/Resources/Mobile.css" rel="stylesheet" />
}
<div class="mainArea">
    <h4>
        <span>
            <i class="glyphicon glyphicon-flag"></i>
            品牌故事
        </span>
    </h4>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本 <b>“N.Paia微站”</b> 微信服务号，是由<b>“浙江华之毅时尚集团信息管理中心”</b>提供。<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gqq；<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gqq；</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gqq；</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gqq；</b><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>gqq</b>：gqq；<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有关本服务号的功能建议，请联系：<a href="tel:18857399999"><i class="glyphicon glyphicon-earphone"></i>&nbsp;gqq</a>。
    <br />
    <br />
    <h4>
        <span>
            <i class="glyphicon glyphicon-phone"></i>
            联系方式
        </span>
    </h4>
    <b>联系方式一</b>:扫描二维码关注我们官方微信
    <div style="text-align: center">
        <img src="~/Areas/NPaia/Resources/images/640.jpg" style="width: 250px;" alt="恩派雅二维码">
    </div>
    <br /> 
</div>






