<div class="ht" id="smyinfo">
    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;员工个人信息
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div> 
<div class="dataDetail">
    <table class="dataTable myInfo">
        <tr>
            <td rowspan ="6" colspan="2"><img src="/Areas/S3/Resources/images/hr01.png" style="width:100px;height:135px;"/></td>
            <td>姓名：</td>
            <td>徐艳琼</td>
        </tr>
        <tr>
            <td>工号：</td>
            <td>0740382</td>
        </tr>
        <tr>
            <td>入职时间：</td>
            <td>2005-08-02</td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td>37</td>
        </tr>
        <tr>
            <td>岗位：</td>
            <td>店长</td>
        </tr>
        <tr>
            <td>部门：</td>
            <td>深圳深国投</td>
        </tr>
        <tr>
            <td colspan="2">拥有客户数：</td>
            <td colspan="2"><a href="javascript:void(0);" onclick="loadCustomers();">32</a></td>
        </tr>
        <tr>
            <td colspan="2">能力评价：</td>
            <td colspan="2"><a href="javascript:void(0);"  onclick="loadAbility();">★★★★★</a></td>
        </tr>
        <tr>
            <td colspan="2">培训履历：</td>
            <td colspan="2"><a href="javascript:void(0);" onclick="loadTrainList();">点击查看</a></td>
        </tr>
        <tr>
            <td colspan="2">就业履历：</td>
            <td colspan="2"><a href="javascript:void(0);" onclick="loadWorkList();">点击查看</a></td>
        </tr>
        <tr>
            <td colspan ="2">当月目标：</td>
            <td colspan ="2"><a href="javascript:void(0);" onclick="loadMyGoal();">5000</a></td>
        </tr>
        <tr>
            <td colspan ="2">当月达成业绩：</td>
            <td colspan ="2"><a href="javascript:void(0);" onclick="loadMyGoal();">4500</a></td>
        </tr>
        <tr>
            <td colspan ="2">累计目标：</td>
            <td colspan ="2"><a href="javascript:void(0);" onclick="loadMyGoal();">60000</a></td>
        </tr>
        <tr>
            <td colspan ="2">累计达成业绩：</td>
            <td colspan ="2"><a href="javascript:void(0);" onclick="loadMyGoal();">54000</a></td>
        </tr>
        <tr>
            <td colspan ="2"><a href="javascript:void(0);" onclick="loadMyCheck();">我的考勤</a></td>
            <td colspan ="2"><a href="javascript:void(0);">我的佣金</a></td>
        </tr>
    </table>
</div>