<script type="text/javascript">
    //加载我要培训
    function loadDoTrain() {
        Msg.show("我要培训加载中...", 3);
        $.get("/S3/Salary/DoTrain", function (htmldata) {
            Msg.hide();
            showDoTrain(htmldata);
        });
    }

    //显示我要培训
    function showDoTrain(data) {
        $("#sdotrainarea").html(data);
        scrollTo("#sdotrainarea");
    }

    //提交我要培训
    function submitTrain(data) {
        Msg.show('提交成功', 0);
    }
</script>
<div class="ht" id="strainlist">
    <i class="icon-pencil"></i>&nbsp;&nbsp;培训履历
    <span onclick="$('#strainarea div').fadeOut(1000);">
        <i class="icon-remove icon-large"></i>
    </span>
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div>
<div class="dataDetail">
    <ul class="list-group">
        <li class="list-group-item">
            <div onclick="showTrainInfo('1');">20140504-20140506&nbsp;&nbsp;&nbsp;&nbsp;销售技巧培训&nbsp;&nbsp;&nbsp;&nbsp;分公司办事处</div>
            <div id="1" class="cusHideTrainArea" style="display:none;"></div>
        </li>
        <li class="list-group-item">
            <div onclick="showTrainInfo('2');">20140301-20140306&nbsp;&nbsp;&nbsp;&nbsp;货品知识培训&nbsp;&nbsp;&nbsp;&nbsp;雅莹总部</div>
            <div id="2" class="cusHideTrainArea" style="display:none;"></div>
        </li>
    </ul>

    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" data-loading-text="loading..." onclick="loadDoTrain();">我要培训</button>

    <div id="sdotrainarea">
    </div>
</div>