<div class="dataDetail">
    <table class="dataTable train">
        <tr>
            <td>培训类别：</td>
            <td>销售类培训</td>
        </tr>
        <tr>
            <td>培训心得：</td>
            <td><input id="result" type="text" class="form-control" value="效果非常好"></td>
        </tr>
        <tr>
            <td>下一步工作计划：</td>
            <td><input id="nextplan" type="text" class="form-control" value="充分结合技巧进行销售"></td>
        </tr>
    </table>
</div>