a{text-decoration: none; color: #003163;cursor:pointer;}
A:hover{TEXT-DECORATION:underline; color:#218CCE;}
body,TD{FONT-SIZE:9pt;word-break:break-all;}	/* 字体大小 */
body{BACKGROUND: #FFFFFF;MARGIN-TOP: 0px; }/* 背景颜色 */
table{text-align:left;}	/* 表格对齐方式 */

 /* 分栏 Frame START */
#FrameLeftMenu {
	margin:0px;
	color:#FFFFFF;
	background-color: #1783C3;
}
#FrameLeftMenu a {
	FONT-SIZE: 10pt;
	color:#FFFFFF;
}

#deeptree SPAN {
	PADDING-TOP: 2px; 
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	PADDING-BOTTOM: 2px;
	HEIGHT: 20px;
	cursor:pointer;
	color:#FFFFFF;
	FONT-SIZE: 10pt;
}
#deeptree SPAN.NodeOver {
	TEXT-DECORATION:underline;
}
 /* 分栏 Frame END */


/* 页眉 */
#CommonHeader{width:100%;}

/* 顶部 CSS 设置 START */
#CommonTop {
	background:url('header.gif') repeat;
	HEIGHT:110px;
	POSITION:relative;
	COLOR: #ffffff;
}
#CommonTop a{color: #313131;}


#CommonTop #CommonTopLogo {
	TOP:0;
	LEFT:0;
	POSITION: absolute;
}

#CommonTop #CommonTopBanner {
	TOP:0;
	RIGHT:0;
	PADDING-TOP: 20px;
	PADDING-RIGHT: 10px;
	POSITION:absolute;
}

#CommonTop #CommonTopFrameText {
	BOTTOM:0;
	LEFT:0;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 3px;
	POSITION:absolute;
}

#CommonTop #CommonTopMenuText {
	BOTTOM:0;
	RIGHT:0;
	PADDING-RIGHT: 10px;
	PADDING-BOTTOM: 3px;
	POSITION:absolute;
	
	}

/* 顶部 CSS 设置 END */

/* 内容区设置 */
#CommonBody
{
	BACKGROUND-COLOR: #ffffff;
	PADDING-TOP: 10px; 
	PADDING-BOTTOM: 20px; 
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px;
	text-align:center;
}

/* 导航条设置 */
#CommonBreadCrumbArea {
    PADDING-LEFT: 15px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	HEIGHT: 20px;
}

/* 列表TABLE */
#CommonListArea{BACKGROUND-COLOR: #D6E7EF;MARGIN-TOP: 5px;border: 1px solid #B5CEE7;
color:#636363;}


/* 列表标题 */
#CommonListTitle{background-color: #B5CEE7;
background-image:url('title_bg.jpg');COLOR:#FFFFFF;FONT-WEIGHT:bold;}
#CommonListTitle a{COLOR:#FFFFFF;}

/* 列表页眉 */
#CommonListHeader{BACKGROUND-COLOR: #FFFFFF;
color:#636363;}

/* 列表单元格 */
#CommonListCell{BACKGROUND-COLOR: #F7FFFF;}

/* 底部设置 */
#CommonFooter
{
	PADDING-TOP: 10px; 
	background-color: #FFFFFF;
	text-align:center;
	color:#CCCCCC;
}
#CommonFooter a{color:#666666;}


/* ShowPost.asp 单元格*/
.ForumPostUserArea {
	BORDER-RIGHT: #e1e1e1 1px solid;
	WIDTH: 180px;
	TEXT-ALIGN: center
}
.ForumPostButtons {
	text-align:right;
	PADDING-BOTTOM: 4px;
	BORDER-BOTTOM: #e1e1e1 1px solid;
}
.ForumPostBodyArea {
	PADDING-TOP: 10px; 
	PADDING-BOTTOM: 10px; 
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px;
}
.ForumPostTitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 120%;
	PADDING-BOTTOM: 12px;
}
.ForumPostContentText {
	WIDTH:100%;
	OVERFLOW:auto;
}
.ForumPostSignature {
	BORDER-TOP: #ddd 1px solid;
	MARGIN: 1em;
	PADDING-TOP: 1em;
	FONT-SIZE: 90%;  
}


/* 菜单样式 */
.menuskin {
	BORDER-RIGHT: #0A2999 1px solid ;
	BORDER-TOP: #0A2999 1px solid;
	BORDER-LEFT: #0A2999 1px solid;
	BORDER-BOTTOM: #0A2999 1px solid;
	background-image:url('menubg.gif');
	background-repeat: repeat-y;
	background-color: #FFFFFF;
	POSITION: absolute;
	VISIBILITY: hidden;
	z-index:1;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	BORDER-RIGHT: #0B008B 1px solid;
	BORDER-TOP: #0B008B 1px solid;
	BORDER-LEFT: #0B008B 1px solid;
	BORDER-BOTTOM: #0B008B 1px solid;
	BACKGROUND-COLOR: #FFEEC2 
}
.menuskin A {PADDING-RIGHT:10px;PADDING-LEFT:30px;}

/* YBB代码引用样式 */
BLOCKQUOTE {
	BORDER-RIGHT: #cccccc 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px dotted; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 16px; BORDER-LEFT: #cccccc 1px dotted; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px dotted
}

/* */
.PannelBody {border:1px #D6E7EF solid; border-top:none; BACKGROUND-COLOR: #FFFFFF;}
.PannelBody td{ padding:5px 0 2px 20px; line-height:20px; color:#333;}
.PannelOff{cursor:pointer;BACKGROUND-COLOR: #B5CEE7;COLOR:#FFF;border-left:1px #D6E7EF solid;border-top:1px #D6E7EF solid;}
.PannelOn{cursor:pointer;BACKGROUND-COLOR: #FFFFFF;FONT-WEIGHT:bold;border-left:1px #D6E7EF solid;border-top:1px #D6E7EF solid;}
.TableRight {border-top:0px; border-left:1px #D6E7EF solid; border-bottom:1px #D6E7EF solid;}


/*
Text Button
*/


.CommonImageTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	padding: 4px;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	background-color: #eeeeee;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding-left: 22px;
	line-height: normal;
	white-space: nowrap;
}

.CommonImageTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	margin: 1px;
}

.CommonImageTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonImageTextButton:HOVER
{
	text-decoration: none;
	color: #333333;
	background-color: #dddddd;
}

.CommonTextButton
{
	display: inline-table;
	display: -moz-inline-box;
	display: inline-block;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	cursor: pointer;
	position: relative;
	top: 2px;
	padding: 5px;
	margin: 1px;
	margin-bottom: 0px;
	font-family: Tahoma, Arial, Helvetica;
	font-weight: bold;
}

.CommonTextButton:LINK
{
	text-decoration: none;
	color: #333333;
	margin: 1px;
}

.CommonTextButton:VISITED
{
	text-decoration: none;
	color: #333333;
}

.CommonTextButton:ACTIVE
{
	text-decoration: none;
	color: #333333;
}

.CommonTextButton:HOVER
{
	text-decoration: underline;
	color: #333333;
	background-color: #dddddd;
}

/*弹出菜单DIV样式*/
.PopupMenu {
	BORDER: #999 1px solid;
	POSITION: absolute;
	BACKGROUND: #FFF;

}
.PopupMenu A {
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 25px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	DISPLAY: block;
	background-repeat: no-repeat;
	background-position: 1px;
	color: #333
}
.PopupMenu A:hover {
	BACKGROUND: #D6E7EF;
	color:#000;
	background-repeat: no-repeat;
	background-position: 1px;
}



/* Modal Styles */

.CommonModalMask
{
	background-image: url("../../images/maskBG.png") !important; /* For browsers Moz, Opera, etc. */
}

.CommonModal
{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	border-right-width: 3px;
	border-right-color: #888888;
	border-bottom-width: 3px;
	border-bottom-color: #888888;
	background-color: #eeeeee;
}

.CommonModalTitle
{
	background-color: #B5CEE7;
	padding: 4px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #6e90bd;
	color: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 110%;
	font-weight: bold;
	margin: 0px;
	height: 1.3em;
	position: relative;
	z-index: 203;
	cursor: move
}

.CommonModalClose
{
	width: 33px;
	height: 12px;
	background-image: url(../../images/close.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
	float: right;
}

.CommonModalContent
{
	background-color: #ffffff;
}

.CommonModalFooter
{
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #cccccc;
	background-color: #eeeeee;
	padding: 2px;
}

.CommonModalResize
{
	width: 14px;
	height: 14px;
	background-image: url(../../images/resize.gif);
	background-repeat: no-repeat;
	overflow: hidden;
	float: right;
	cursor: se-resize;
}

/* Help Icon */
.helpicon { line-height: normal; background-position: left top; background-repeat: no-repeat; }
.helpicon img { height: 20px; width: 16px; PADDING-Right:5px; vertical-align: middle; }
a.helpicon{ background-image: url(../../images/help_out.gif); }
a.helpicon:hover, a.helpicon:active { background-image:url(../../images/help_hover.gif); cursor:help; }

/*多页 换页样式*/
.PageInation {
	margin: 1px 0px;
	clear: both;
}
.PageInation a {
	float: left;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	cursor:default;
}
.MultiPages {
	background-color: #F5FBFF;
	border: 1px solid #B5CEE7;
	margin-right:1px;
	vertical-align: middle;
	font-weight: bold;
}
.PageNum {
	background-color: #FFFFFF;
	border: 1px solid #D6E7EF;
	margin-right:1px;
	vertical-align: middle;
}
a.PageNum:hover {
	background-color: #EBF9E6;
	border: 1px solid #B5CEE7;
	text-decoration: none;
	cursor:pointer;
}
.CurrentPage {
	margin-right:1px;
	border: 1px solid #B5CEE7;
	vertical-align: middle;
	background-color: #EBF9E6;
	font-weight: bold;
}
.PageInput {
	border:1px solid #B5CEE7;
	padding: 2px 0px 1px 1px;
	width: 40px;
	height: 18px !important;
	height: 16px;
	margin: 0px;
	background: #FFFFFF;
}


/*比例条码*/
.percent {
	border: 1px solid #E0F5D8;
	width:99%;
}
.percent div {
	background: #B5CEE7;
	height: 10px;
}