<div class="infoArea clearfix">
    <div class="headimg">
        <img src="/Areas/S3/Resources/images/avastar.png" />
    </div>
    <div class="userinfo">
        <span><i class="icon-user"></i>&nbsp;&nbsp;欧阳雪梅</span><br />
        <span><i class="icon-trophy"></i> EP350602</span><br />
        <span><i class="icon-phone"></i><a href="tel:15988381281"> 15988381281</a></span>
    </div>
</div>
<div class="dataDetail">
    <h4><span><i class="icon-user"></i>&nbsp;&nbsp;个人信息</span></h4>
    <table class="dataTable">
        <tr>
            <th>年龄：</th>
            <td>42</td>
            <th>生日：</th>
            <td>01-19</td>
        </tr>
        <tr>
            <th>去年等级：</th> 
            <td>金卡</td>
            <th>发展日期：</th>
            <td>2013-06-27</td>
        </tr>
        <tr>
            <th>从事行业：</th>
            <td>金融业</td>
            <th>岗位：</th>
            <td>高层管理</td>
        </tr>
        <tr>
            <th>城市：</th>
            <td>浙江 杭州</td>
            <th></th>
            <td></td>
        </tr>
        <tr>
            <th>地址：</th>
            <td colspan="3">荣业大街大都会2号楼2601</td>
        </tr>
        <tr>
            <th>忠诚度：</th>
            <td>品牌型</td>
            <th>消费类型：</th>
            <td>当季消费</td>
        </tr>
    </table>
</div>
