<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <leftarea>selfont</leftarea>
  <leftarea>fontsize</leftarea>
  <leftarea>justifyleft</leftarea>
  <leftarea>justifycenter</leftarea>
  <leftarea>justifyright</leftarea>
  <leftarea>bold</leftarea>
  <leftarea>italic</leftarea>
  <leftarea>underline</leftarea>
  <leftarea>removeformat</leftarea>
  <leftarea>emot</leftarea>
</configuration>