.dynamic-tab-pane-control .tab-page {
	height:<%=session("maxWinHeight")%>px;
}
.dynamic-tab-pane-control .tab-page .dynamic-tab-pane-control .tab-page {
	height:100px;
}
form {
	margin:0;
	padding:0;
}
.dynamic-tab-pane-control h2 {
	text-align:	center;
	width:auto;
}
.dynamic-tab-pane-control h2 a {
	display:inline;
	width:auto;
}
.dynamic-tab-pane-control a:hover {
	background: transparent;
}
  
.toolbarhide {
	display: none;
}
.toolbarmover {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #F7F7F7;
	border-right-color: #716F64;
	border-bottom-color: #716F64;
	border-left-color: #F7F7F7;
	font-size: 12px;
	text-decoration: underline;
	cursor:hand;
}
.toolbarmdown {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #716F64;
	border-right-color: #F7F7F7;
	border-bottom-color: #F7F7F7;
	border-left-color: #716F64;
	font-size: 12px;
	text-decoration: underline;
	cursor:hand;
}
.toolbar {
	border: 1px solid #ECE9D8;
	font-size: 12px;
	text-decoration: underline;
}
.toolbargray{
    Filter:Gray;
	border: 1px solid #ECE9D8;
	font-size: 12px;
	text-decoration: underline;
}