<div class="ht" id="sadddesign">
    <i class="icon-pencil"></i>&nbsp;&nbsp;卖点补充
</div>

<div class="dataDetail">
    <ul class="list-group">
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;武汉东湖万达百货<span onclick="showDesignInfo('d1');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="d1" class="cusHideDesignArea" style="display:none;">此款比较适合年纪35岁左右的女性</div>
        </li>
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;上海新世界<span onclick="showDesignInfo('d2');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="d2" class="cusHideDesignArea" style="display:none;">此款比较适合体型偏胖的女性</div>
        </li>
    </ul>
    <br />
    <div class="input-group">
        <span class="input-group-addon">卖点说明</span>
        <textarea class="form-control" placeholder="请输入说明内容"></textarea>
    </div>
    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" data-loading-text="loading..." onclick="addDesign();">提交</button>
</div>