<div class="ht" id="saddstory">
    <i class="icon-pencil"></i>&nbsp;&nbsp;故事建议
</div>

<div class="dataDetail">
    <ul class="list-group">
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;武汉东湖万达百货<span onclick="showStoryInfo('story1');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="story1" class="cusHideStoryArea" style="display:none;">表达出对女性气质的骄傲</div>
        </li>
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;上海新世界<span onclick="showStoryInfo('story2');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="story2" class="cusHideStoryArea" style="display:none;">把富有魅力的女性置于聚光灯之下</div>
        </li>
    </ul>
    <br />
    <div class="input-group">
        <span class="input-group-addon">故事建议</span>
        <textarea class="form-control" placeholder="请输入故事建议"></textarea>
    </div>
    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" data-loading-text="loading..." onclick="addStory();">提交</button>
</div>