<div class="ht" id="saddwashing">
    <i class="icon-pencil"></i>&nbsp;&nbsp;保养建议
</div>

<div class="dataDetail">
    <ul class="list-group">
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;武汉东湖万达百货<span onclick="showWashingInfo('washing1');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="washing1" class="cusHideWashingArea" style="display:none;">用专业洗涤剂洗</div>
        </li>
        <li class="list-group-item">
            <div>[2014年06月28日]&nbsp;&nbsp;上海新世界<span onclick="showWashingInfo('washing2');" style="float:right;"><i class="cus icon-double-angle-down"></i></span></div>
            <div id="washing2" class="cusHideWashingArea" style="display:none;">不可在阳光下直接晾晒，面料小心钩丝</div>
        </li>
    </ul>
    <br />
    <div class="input-group">
        <span class="input-group-addon">保养建议</span>
        <textarea class="form-control" placeholder="请输入保养建议"></textarea>
    </div>
    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" data-loading-text="loading..." onclick="addDesign();">提交</button>
</div>