<div class="ht" id="sdocustomerevaluate">
    <i class="icon-pencil"></i>&nbsp;&nbsp;客户评价
</div>

<div class="dataDetail">
    <ul class="list-group">
        <li class="list-group-item">
            <div>版型很好</div>
        </li>
        <li class="list-group-item">
            <div>很贴身</div>
        </li>
    </ul>
    <br />
    <div class="input-group">
        <span class="input-group-addon">评价</span>
        <textarea class="form-control" placeholder="请输入评价"></textarea>
    </div>
    <button type="button" class="btn btn-success" style="width: 100%; margin-top: 10px; margin-bottom: 10px;" data-loading-text="loading..." onclick="addDoCustomerEvaluate();">提交</button>
</div>