<div class="ht" id="snewproduct">
    <i class="icon-bullhorn"></i>&nbsp;&nbsp;新品上市
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadSkcList();">EP 秋冬07月19日新品上市学习</a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadSkcList();">E.PROSPER秋冬07月09新品上市学习</a>
    </li>
</ul>