<div class="ht" id="stask">
    <i class="icon-calendar"></i>&nbsp;&nbsp;待办任务
    <span onclick="Msg.show('分享到社区',0);">
        <i class="icon-random icon-large"></i>
    </span>
    <span onclick="Msg.show('分享给店长',0);">
        <i class="icon-signin icon-large"></i>
    </span>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadDoTurnin();">E12IDY006aG2调入&nbsp;&nbsp;&nbsp;&nbsp;申请中</a>
    </li>
</ul>