body
{
    font-family: Arial;
    font-size: 12px;
}
table
{
    border-collapse: collapse;
}
tr
{
    border: 1px solid #C0C0C0;
    text-align: center; /*height: 25px;*/
    border-collapse: collapse;
}
tr:hover
{
    background-color:#CCCCCC;
}
th
{
    vertical-align: middle;
    border: 1px solid #C0C0C0;
    background-color:#5D7B9D;
    color:White;
    border-collapse: collapse;
}
td
{
    vertical-align: middle;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}