<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<remove assembly="Infragistics2.WebUI.WebDateChooser.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.Shared.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.UltraWebChart.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.WebHtmlEditor.v6.2, Version=6.2.20062.34, Culture=neutral,  PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.WebSchedule.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.WebNavBar.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.UltraWebToolbar.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.UltraWebGrid.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.UltraWebTab.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.WebCombo.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.WebScheduleDataProvider.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<remove assembly="Infragistics2.WebUI.UltraWebNavigator.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add tagPrefix="Public" namespace="F23Web.Controls" assembly="F23Web.Controls"/>
				<add tagPrefix="Base" namespace="F23Base.Controls" assembly="F23Base.Controls"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="1024000"></jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
