<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>

      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="WSRR_Deploy" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkmX9A2R3i9IX"/>
    <add key="WSRR_ENV" value="Test"/>
    <add key="WS_log" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyAGVkie62EIIubePqPBiGKx6KoylZSqpVV5Xz7Mdst8VKTmgw+2+f+FuNXlc+UOJPk="/>
    <add key="MDM" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyAGVkie62EIIubePqPBiGKx6KoylZSqpVV5Xz7Mdst8VM4CRxkeERIQ"/>
    <add key="CMT" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBl4dYu7J5GhBGKqMcnjcqzk="/>
    <add key="GL_ERP" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBoWhwa40xLxX4gY353kYHsnj+88bG/Ongw=="/>
    <add key="DRP_ESB" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD33oN8k/5xYNki6adqXfHAmNIb2uyMQSoVERzI3iOQ+gj68tNzmsD3Mp7I55I7Ao0dXtcUlC6kAjqXVOAUjUheqQ=="/>
    <add key="MDM_Master2" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD32cSFQMLVv4OhLVwFn6KvggmKOT4DDsqwVhtL9Y5872dDQ7VWjrwlMXGSJnvEAPJCG+c25T8tJ98="/>
    <add key="MDM_Market2" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD32cSFQMLVv4OhLVwFn6KvggmKOT4DDsqwVhtL9Y5872dDQ7VWjrwlMVeRimULO7OoQ75QiBFqu2Y="/>
    <add key="MDM_Market2" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkndNjRrKkkFE8Ue4j4wWlYo="/>

    <add key="F22DL" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLSHZhySZdDwh7dGQ1W7eZMNjC2Z1OQdHwhQIebF2fQbUphF1zdOyO3D7BPi37cLNlK8mOtFNigaY="/>
    <add key="HZY_SDK" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyAGVkie62EIIubePqPBiGKx6KoylZSqpVV5Xz7Mdst8VD5MqZOzXe/MsAToknliGs8="/>
    <add key="HZY_Mat" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyBUprNV8ZsbohD3AjsMAlQe4mno+bD4rintyaY3KefjdZDthPzddvHZQtPYT4G58R6I+XqMY+6+/wX51ckzjd05"/>
    <add key="F22GP" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitL/daEYd0VIPmN+E9VReS+gwEimrTSO/p733BclA2PPxjiEYN4zOIP9jCb0W+dM8Koc0HBezayYwg="/>
    
    <add key="PLM_AS" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLxaYCQrVvnzcgA5/NJYOUxCqfynBCiB9cQCp6IPkofElA9AO4zIbWvWhNhPFz9FcJPtnWU6ERAE0Ehq86sQrbnQ=="/>
    <add key="PE_OA" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLbu7BQoKgwl/Ir9052k/06oqzJlsyhD/50US8zNS/pWTIibUTsx1GUjcxPxpafUqDCPTuZliVPZc="/>
    <add key="HZY_JorealCMT" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBl4dYu7J5GhBfQPU0XTvwsI="/>
    <add key="HZY_CMT" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBl4dYu7J5GhBGKqMcnjcqzk="/>
    <add key="HZY_CMT_PROD" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPWdRG6wpBiT2PoeeWsKs0LCv0m4TrrL7fKtVMTbmSCgbskjtJgGPkhEoJ9/3yOU+qxPQFJm9wtk="/>
    <add key="HZY_CMT_PROD" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBl4dYu7J5GhBjDmwVleWrB8="/>
    <add key="AMSendWS.MsgCenter" value="http://192.168.0.89/MsgCenter.asmx"/>
    <add key="HZY_Present" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBkzv5UlqDuaLIpa3bReqVboSYrwfV9zJ+Q=="/>
    <add key="WSRR" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkpAXxy6AbqJFMV5OomihPSM="/>
    <add key="WSRR_Log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSODJ1lW04rCkdR4FoMSru+KQqkA6h5YLTutpDCmmm7pkpAXxy6AbqJFMV5OomihPSM="/>
    <add key="F22LX" value="udE6xhVXCwnngVwu8lxJE8puKce7hR13VcB1Xvcxk1ZJeb9Z6aYDze6yAMlQDNX9+usN4jBtdW3YCb87LOASbsVwfLmcQN/csgu4tAMyqio="/>
    <add key="F22RS" value="udE6xhVXCwnngVwu8lxJE8puKce7hR13VcB1Xvcxk1ZJeb9Z6aYDze6yAMlQDNX9+usN4jBtdW3YCb87LOASbsVwfLmcQN/cmfQmemvdI6A="/>
    <add key="F22GL" value="udE6xhVXCwnngVwu8lxJE8puKce7hR13VcB1Xvcxk1ZJeb9Z6aYDze6yAMlQDNX9+usN4jBtdW3YCb87LOASbsVwfLmcQN/ckCrXxcSkbzs="/>
    <add key="FBI_Payment" value="udE6xhVXCwnngVwu8lxJE3ZEQX3odxu1VEgepa80J2LexXCz9mC3MEEyPBZLCByfXDc/hPnN8/JboLt5gLoYLF+SiVAayItAeOvYFKTCgOA="/>
    <add key="GL" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBovOHTo4xqKRx6Ndy05lZ6E="/>
    <add key="LX" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBovOHTo4xqKRx6Ndy05lZ6E="/>
    <add key="EHR" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyFXzJAWWs61iUG87veQj4W9Pl2dPXL4LmVK2Kx+YN4jbocDeijoGhMvEwK1Fq9wq2"/>
    <add key="SMS" value="udE6xhVXCwnngVwu8lxJE+HvIx7mplbt1Uco/ViayJkQtMTCfrjC2G8cid/pN0O2phPxANzH3BXpVHzqerOGbuv58/eyUgNJ"/>
    <add key="VexSSO" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyAGVkie62EIIubePqPBiGKx6KoylZSqpVV5Xz7Mdst8VPu8Brq0YYXz4jDXV0KNdW0="/>
    <add key="ShopPAY" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyBUprNV8ZsbohD3AjsMAlQe4mno+bD4rintyaY3KefjdZDthPzddvHZQtPYT4G58R6I+XqMY+6+/wX51ckzjd05"/>
    <add key="F22XY" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLgcXgz7vxwSpXBjv9iSK5/2di+8PyfT/1qiyq1Sjixda60pqSpS4Mp9SYPrBJePmNC0ZSTn8SCmI="/>
    <add key="F22XY_TEST" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLgcXgz7vxwSpXBjv9iSK5/2di+8PyfT/1qiyq1Sjixda60pqSpS4Mp9SYPrBJePmNC0ZSTn8SCmI="/>
    <add key="F22XY_TEST_DRP_REPORT" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLgcXgz7vxwSpXBjv9iSK5/2di+8PyfT/1qiyq1Sjixda60pqSpS4Mp7xGcQrVgjeFJNXb9cNAIv4="/>
    <add key="NPaia" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1lGiRnKmhzmJkyo/w3Q5cpPlOckXj17sImGYWtnQv+KANiim8VzdNMdd9uBGmBUuI8RC5avBa9ujA=="/>
    <add key="PLM_AS_DL" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6WJNPWimu3s038TfBeYcOtFL22DBQUQSjgUrdb4V/wPX/ReIseWgpQ6nt7YlUaBHg="/>
    <add key="DRP_EC" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLWpHf3UlpVNYUibXyHpGR7HW190Esfv2GSg9s5ceWCCAKTy8ngjpFLD16aQJ1u2WH"/>
    <add key="DepartmentStore" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBsgZ/x/ok/IDsR6b9m023AHVdfjrgDYASQ=="/>
    <add key="Mwq_test" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyAGVkie62EIIubePqPBiGKx6KoylZSqpVV5Xz7Mdst8VG+9l1742yn44V427dfNUdQ="/>
    <add key="Hawk" value="udE6xhVXCwl9IhjMGo4Y3MKcQDAedQD3wyrC3wXlR1kWS32lwS/a3z+Lyr+Ri4WAs5WPCrcuTAUOSs1wZ3LzBovOHTo4xqKRx6Ndy05lZ6E="/>
    <add key="EHRFORSalary" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLgz4QkXnFrE4DD/35IA+LknbAGjtk3ZqMhOTvJ6R/IQXG/0JADk7W5GHu4/GQNrJkcSJwHkTfhBo="/>
    <add key="WSRRRouteCode" value="Dev"/>
    <add key="WSRRLocalUrl" value="http://127.0.0.1:8082/WS.asmx"/>
    <add key="SSOURL" value="http://127.0.0.1:8082/WS.asmx"/>

    <add key="JLWXSite" value="udE6xhVXCwnngVwu8lxJE+lFnIf5L6beDDdwaLJZn9+tyX8EHjuGHa94fgnF+EENJK8KvxcL2Wb081nfXKrgzRfH3Uw/FPY0"/>

    <add key="remoteHostHR" value="172.16.205.180"/>
    <add key="remotePathHR" value=""/>
    <add key="remoteUserHR" value="hras"/>
    <add key="remotePassHR" value="elegant.hras"/>
  </appSettings>
  <!--正式库-->
  <!--<appSettings>
    <add key="WSRR_Deploy" value="udE6xhVXCwl9IhjMGo4Y3FbzRbAIUitLT5AfkaBRDyBUprNV8ZsbohD3AjsMAlQe4mno+bD4rintyaY3KefjdZDthPzddvHZ3M0MR6kpdno="/>
    <add key="WSRR_ENV" value="Prod"/>
    <add key="WSRRRouteCode" value="Prod"/>
    <add key="WS_log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNXR02a7/2OmdtSuePt+Vesk="/>
    <add key="MDM" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNR8ehHf3kcQUGPQoGAtPYo4="/>
    <add key="HZY_Mat" value="udE6xhVXCwnngVwu8lxJE18RPcUSghsb/XoeIdYQhJD0TbIJX+ErE8rHGeXHuCOjeUqMNNHXFdUBBkkfWanZLb4X1xDfykmHswBpx5oGwdzLWfCRFptBPzQaE19FFUMd"/>
    <add key="F22GP" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkjmzSvj9PhOyRWjKK4Y5Ii6hBfcL+6mfST+jAQuSRDakgwv2I2BQnhQsFDSloYqtlkC0jVak12ew="/>
    <add key="PLM_AS" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD3wkXfMxiO3ucUh0zIMmoBE="/>
    <add key="HZY_CMT_PROD" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPWdRG6wpBiQstb1sqMdwHFijQxBaaBlrSv5G3M/3EtGByGgtc+hVOT2yjZgACmFv+8bFBLETV8A="/>
    <add key="WSRR" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxJzoUncJgEV0DcD9RE98l7k="/>
    <add key="WSRR_Log" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxJzoUncJgEV0DcD9RE98l7k="/>
    <add key="HZY_CMT" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPWdRG6wpBiQstb1sqMdwHFijQxBaaBlrSv5G3M/3EtGByGgtc+hVOT2yjZgACmFv+8bFBLETV8A="/>
    <add key="DpPrint_ESB" value="udE6xhVXCwnngVwu8lxJE7/KBiBcegb3lAKzIixuYin1ZOu4L0nmQO9M7vBFm7LgL2EhQV0Cbq9tQbYb9Meh80f064YTfKaWD74HmXBHXuI="/>
    <add key="F22" value="udE6xhVXCwnngVwu8lxJE8puKce7hR13cJjhlXCt8I1GJlnPCv5p6VCQsaHLsjgrr7y+1cRxJmyC0oj6BOQtGKud/VhrGTNP7y9INPK8g7I="/>
    <add key="TFG_infoguard" value="udE6xhVXCwllQLID7CW4h6hJdM6kATEofrjTK3smWizAihoHaaJ6ivJaU7Pn8IL4SLhXDMACUIDinp4XQ7MV7ip3VDDBIrP10bDr9hg3isCl+RDcQYs1xg=="/>
    <add key="iCollecter" value="yXSYF3giGnH8FFtAJ7xNE1w16H19zR9nwtci9FePH9cTb+Ac9KinbrWy8CWTJW9c8kSkHlgKPomHB0/+Kwha1S/rwvWU1HXCdp7pVADJHcXhnZu/7Hn07Q=="/>
    <add key="DBDict" value="yXSYF3giGnFhyT2Dx5jGlrtPfRwMt7tR5tk0W/Ceyrse8L3YeOjyz3mUxcp19vAM5o9WJffJTJPw04t9FS2Wl1++sYtgXA9C9L8p5pTVKTU="/>
    <add key="X6_EPApp" value="udE6xhVXCwnngVwu8lxJEyk9iy3tNoyhtDMiQ1ONDUeGw5LkgZIWuRoEEBefdAKi0Es9wDAx+xlUB93EtejuGvB1+zNoU2adkBNysGHEazM="/>
    <add key="EPSysAccounts" value="udE6xhVXCwnngVwu8lxJEyk9iy3tNoyhtDMiQ1ONDUeGw5LkgZIWuRoEEBefdAKi0Es9wDAx+xlUB93EtejuGi4gY1mc2RGG/NFXsaTsETzTTm17J9yBWA=="/>
    <add key="ServerMDM" value="udE6xhVXCwnngVwu8lxJE6DYYtn1Lmb4RO5xLzUU8eUuw5KN9lq4RUFfJUzHgV/3M60eKEygJtP8rl3E8WDXvkK6C3dFp3UdWke1RUUx9GUi9xVO8Ty1wA=="/>
    <add key="HZY_ITSM" value="udE6xhVXCwnngVwu8lxJE6MX2BPW1KbK81iIHbZF65ZJL8tneLJtAfDgVvV7ZLACFL1EEfHvu+1y2lUVU/32VJ6l1uD8rk9T"/>
    <add key="AMSendWS.MsgCenter" value="http://192.168.0.89/MsgCenter.asmx"/>
    <add key="HZY_ExcelAppStore" value="udE6xhVXCwnngVwu8lxJE6MX2BPW1KbK81iIHbZF65ZJL8tneLJtAfDgVvV7ZLACFL1EEfHvu+3IpD5bwfkW8HN4o+E6/Mf9+HqhRG60oXI="/>
    <add key="GL_ERP" value="udE6xhVXCwnngVwu8lxJE0Wjyo3CXpAaNqGnxZxoGioG9579eYNKE9Nyjgez7qn++3X0rEcnwtDye7v0cOCs//1g0cJXRu/xohInii962G0="/>
    <add key="ERP_PROD" value="udE6xhVXCwnngVwu8lxJE3ZEQX3odxu1VEgepa80J2LexXCz9mC3MEEyPBZLCByfXDc/hPnN8/JboLt5gLoYLI/EwNpXWHu/IPkwHL8KBg/ukNJsDlYRxQ=="/>
    <add key="BI_CustomerFlow" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSOLo/9y1RmEyRqfVoo/ApMLnWvUmPwM0G2xNwGr3YGLNWv0eFhePqfOlM87a8FT/ZTnJxUgMdYs+A=="/>
    <add key="CMT_EP" value="udE6xhVXCwnngVwu8lxJE+HvIx7mplbt1Uco/ViayJnC9YZ0wijgFvBTfcYcmV9fKlei/XISVmfa766+bM+qlCdFxEbStLiRHRZ8dn4RC7k="/>
    <add key="ESB_WEBSERVICE" value="udE6xhVXCwnngVwu8lxJE1DJEkLXqovi/wpPSrSVXe0R4oJ5VAvsINqCfO79QmDX0wxsY37/qLiOSeHO4zKf/tVGvm41ThLJ0+J4lxksuSzXfaJunCIBPQ=="/>
    <add key="CUSCRM" value="udE6xhVXCwnngVwu8lxJE782bg7RCjgmzpH72KQrZkUkE6zskxGg15o9tRg2RLf3HcK+pWQkehaZz9XVOi6/4e7h1Xq2xoHWj03a3HqxOLs="/>
    <add key="F22GP_ForSalesPlan" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkjmzSvj9PhOyRWjKK4Y5Ii6hBfcL+6mfST+jAQuSRDakgwv2I2BQnhQsFDSloYqtlkC0jVak12ew="/>
    <add key="PLM_CUSPLM" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMDzrJo+w5TOaZIPhpgC5jQ8A="/>
    <add key="ERPASS" value="udE6xhVXCwnngVwu8lxJE3ZEQX3odxu1VEgepa80J2LexXCz9mC3MEEyPBZLCByfXDc/hPnN8/JboLt5gLoYLI/EwNpXWHu/gn6AHafH0xMiTnaReO8Zlw=="/>
    <add key="PLM_AS" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD3wkXfMxiO3ucUh0zIMmoBE="/>
    <add key="VexSSO" value="udE6xhVXCwnngVwu8lxJE1rrpafiw5PELSduEpvsoSM8nJ+WXEJfX186q1iNJNQ4eBOAtxE4Fgw4jMPpQv0zxCNwMFALXQim599q0tejW8M="/>
    <add key="F22XY" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyCVfapyF4bPKQ2KBUAkZgDqGnvWvqth7jeOmLNCx8nllSjKCs72i6hbY2PKWhPHV+NvU7q8Hft/w="/>
    <add key="F22XY_TEST" value="udE6xhVXCwnngVwu8lxJE4b6HBj5DUqyCVfapyF4bPKQ2KBUAkZgDqGnvWvqth7jeOmLNCx8nllSjKCs72i6hbY2PKWhPHV+NvU7q8Hft/w="/>
    <add key="PLM_AS_DL" value="udE6xhVXCwnngVwu8lxJE9GbK5Ew7cm/kdjjowf5Wm6v4quHDRH3G11iGjNRi9/latcAfQQPp4yeeo3TqauMD5RDEqp2pSPC2wis8J4FQlA="/>
    <add key="API_Package" value="udE6xhVXCwl9IhjMGo4Y3EOaW0en2iYkPkwi6FZHQA26XEHPdOnVS2IzLRQQI59ngMEQSr+aitOVu7xNZhW6GD06A48qYCGuTyp7nKbsdtTMfqF7V+zBRA=="/>

  </appSettings>-->
  <connectionStrings/>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">

      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<httpRuntime executionTimeout="300000"  requestValidationMode="2.0" />-->
    <httpRuntime  requestValidationMode="2.0" maxRequestLength="2147482624" executionTimeout="300000"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>