body {
	SCROLLBAR-FACE-COLOR: #f2f2f2;
	SCROLLBAR-HIGHLIGHT-COLOR: #f8f8f8;
	SCROLLBAR-SHADOW-COLOR: #f1f1f1;
	SCROLLBAR-3DLIGHT-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #006699;
	SCROLLBAR-TRACK-COLOR: #f8f8f8;
	font-family: "ו";
	font-size: 12px;
	line-height: 200%;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.title {
	font-family: "Tahoma";
	font-size: 12px;
	line-height: 23px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
table {
	border-collapse:collapse;
}

td {
	font-family: "Tahoma";
	font-size: 12px;
	line-height: 23px;
	color: #333333;
	text-decoration: none;
}
textarea {
	font-size: 12px;
	color: #006699;
	background: #f2f2f2 ;
	border-color: #022e60 #cccccc #cccccc #022e60;
	border-style: solid;
	border-width: 1px;
}

a:link {
	color: #333333; 
	text-decoration: none;
}
a:visited {
	color: #333333; 
	text-decoration: none;
}
a:active {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline
}
.btn { 
	font-size: 12px;
	color: #000000;
	background: #ececec ;
	border-color: #fefefe #aaaaaa #aaaaaa #fefefe;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	padding-top: 1px;
}
.box {
	font-size: 12px;
	color: #000000;
	background: #f2f2f2;
	border-color: #002266 #cccccc #cccccc #002266;
	border-style: solid;
	border-width: 1px;
}
.box2 {
	font-size: 12px;
	color: #000000;
	background: #f2f2f2;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-style: solid;
	border-width: 1px;
}

.Up{
	border-left: 1Px solid rgb(99,112,112);
	border-right: 1px solid rgb(99,112,112);
	border-bottom: 1px solid rgb(99,112,112);
	border-top: 1px solid rgb(99,112,112);
	cursor:hand;
}
.Down{	
	border-right: 1Px solid rgb(233,244,249);
	border-left: 1px solid rgb(12,12,12);
	border-top: 1px solid rgb(12,12,12);
	border-bottom: 1px solid rgb(233,244,249);
	cursor:hand;
}
.None{
	border-top: 1Px solid rgb(208,208,200);
	border-left: 1px solid rgb(208,208,200);
	border-bottom: 1px solid rgb(208,208,200);
	border-right: 1px solid rgb(208,208,200);
	cursor:hand;
}